<div class="main-container">
<div class="container">
   <div class="col-lg-4"></div>
   <div class="col-lg-4">
      <h3 class="text-center">Contractor Registration Form</h3>
      <br />
      <div class="row">
         <div class="col-lg-6" ng-class="{'has-error': (!vm.contract.FirstName || vm.contract.FirstName == '')  && vm.FirstNameError}">
            <input type="text" name="FirstName" id="FirstName" ng-model="vm.contract.FirstName" class="form-control" placeholder="First Name*" />
         </div>
         <div class="col-lg-6" ng-class="{'has-error': (!vm.contract.LastName || vm.contract.LastName == '')  && vm.LastNameError}">
            <input type="text" name="LastName" id="LastName" ng-model="vm.contract.LastName" class="form-control" placeholder="Last Name*" />
         </div>
      </div>
      <br />
      <div ng-class="{'has-error': ((!vm.contract.email || vm.contract.email == '')  && vm.emailError) || vm.emailError}">
         <input ng-keyup="$event.keyCode == 9 || vm.validateForm('email')" type="email" name="email" id="email" ng-model="vm.contract.email" class="form-control" placeholder="Email ID*" />
      </div>
      <br />
      <div ng-class="{'has-error': ((!vm.contract.password || vm.contract.password == '')  && vm.passwordError) || vm.passwordError}" class="pwd-input">
         <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('passwrd')"
                name="pwd" id="pwd" ng-model="vm.contract.password" class="form-control" placeholder="Password*" ng-focus="onselect = true"
                ng-blur="onselect = false"/>
        <span ng-show="onselect">Password must contain at least 8 characters</span>
        <span ng-show="(!!vm.contract.password && !vm.passwordError)" class="fa fa-2x fa-thumbs-o-up"></span>    
      </div>
      <br />
      <div ng-class="{'has-error': (!vm.contract.confPassword || vm.contract.confPassword == '' || vm.contract.confPassword != vm.contract.password)  && vm.confPasswordError}"  class="pwd-input">
        <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('cnfrmPass')" ng-model="vm.contract.confPassword" class="form-control" placeholder="Confirm Password*" />
        <span ng-show="(!!vm.contract.confPassword && !vm.confPasswordError)" class="fa fa-2x fa-thumbs-o-up"></span>
      </div>
      <br />
      <div ng-class="{'has-error': ((!vm.contract.phone || vm.contract.phone == '')  && vm.phoneError) || vm.phoneError}">
         <input type="tel" ng-keyup="$event.keyCode == 9 || vm.validateForm('phone')" name="phone" id="phone" ng-model="vm.contract.phone" class="form-control" placeholder="Phone number*" />
      </div>      
      <br />
      <div class="row">
         <div class="col-lg-6">
            <select class="form-control" ng-model="vm.contract.City"
               style="border:1; -webkit-appearance: none; -moz-appearance: none; background:url(assets/images/arrow.png) no-repeat;background-position:right center !important; margin-right:2px;"
               ng-options="city.cityID as (city.name) for city in vm.cities"></select>
         </div>
         <div class="col-lg-6">
            <select class="form-control" ng-model="vm.contract.Country"
               style="border:1; -webkit-appearance: none; -moz-appearance: none; background:url(assets/images/arrow.png) no-repeat;background-position:right center !important; margin-right:2px;"
               ng-options="country.countryID as (country.name) for country in vm.countries"></select>
               <!-- <select class="form-control" ng-model="vm.contract.Country"
               style="border:1; -webkit-appearance: none; -moz-appearance: none; background:url(assets/images/arrow.png) no-repeat;background-position:right center !important; margin-right:2px;"
               ng-options="country.name as (country.name) for country in vm.countries"></select> -->
         </div>
      </div>
      <br />
      <div class="row">
         <div class="col-lg-8">
            <a ng-click="vm.trmCondPopUp()" style="cursor:pointer">Read Terms & Conditions</a>
            <br />
            <label>
            <input type="checkbox" ng-model="vm.term" name="chk" /><span>I Agree.*</span>
            <span ng-show="vm.termErr" ng-hide="vm.term">Please Check I Agree</span>
            </label>
         </div>
         <div class="col-lg-4" style="text-align:right;">
            <input type="submit" name="register" id="register" ng-click="vm.submitForm()" class="loginBtn" value="Register" />
         </div>
      </div>
      <br />
      <br />
      <br />
      <br />
   </div>
   <div class="col-lg-4"></div>
</div>
</div>