<style>
    .typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }
    
    .typeahead-demo .custom-popup-wrapper>.message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }
    
    .typeahead-demo .custom-popup-wrapper>.dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    
    .Editable {
        cursor: pointer;
    }
    /* Put your css in here */
    
    multiselect {
        display: block;
    }
    
    multiselect .btn {
        width: 100%;
        background-color: #FFF;
    }
    
    multiselect .btn.error {
        border: 1px solid #da4f49 !important;
    }
    
    multiselect .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }
    
    multiselect .dropdown-menu {
        width: 100%;
        box-sizing: border-box;
        padding: 2px;
    }
    
    multiselect .dropdown-menu>li>a {
        padding: 3px 10px;
        cursor: pointer;
    }
</style>
<div class="main-container">
    <div class="container">
        <div class="buyerProfile">
            <div class="profile-block">
                <div class="profileLi row">
                    <div class="col-sm-4">
                        <div class="profilePic">
                            <input style="display:none" type="file" id="profPic" file-model="model.profPic" accept="image/*" />
                            <img src="/assets/images/img3.png" ng-if="!tempUrl" for="profPic" class="img-circle profile-img" />
                            <img src="{{tempUrl}}" ng-if="tempUrl" for="profPic" class="img-circle profile-img" />
                        </div>
                        <label class="pro-upload" for="profPic">
                            <span class="upload-txt-hide">Upload Logo</span>
                        </label>

                    </div>


                    <div class="col-sm-8 contra-det">
                        <ul>
                            <li ng-show="!vm.edtName">
                                <h3>
                                    <span ng-bind="vm.user.firstName"></span>
                                    <span class="fa edit-icon fa-edit" ng-click="vm.editProfile('name')"></span>
                                    <span ng-show="vm.edtInfo" class="animate-show"></span>
                                </h3>
                            </li>
                            <li ng-show="vm.edtName">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="text" ng-model="vm.user.firstName" />
                                        <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.edtName=!vm.edtName"></span></div>
                                    </div>
                                </div>
                            </li>

                            <li ng-show="!vm.edtPhone" class="phone-edit">
                                <span ng-bind="vm.user.phone" class="phone-txt"></span>
                                <span class="fa edit-icon fa-edit  " ng-click="vm.edtPhone=!vm.edtPhone"></span>
                                <span class="no-verified" ng-show="vm.user.phoneNumberConfirmed">Verified <i class="fa fa-check"></i></span>
                                <span class="no-not-verified" ng-show="!vm.user.phoneNumberConfirmed">Not Verified <i class="fa fa-close"></i></span><span class="verifybtn" ng-hide="vm.verifyMobileClk || vm.user.phoneNumberConfirmed" ng-click="vm.verifyMobile()">Verify Now</span>
                                <span ng-show="vm.showOTP" class="otp-block">
                                    <input class="form-control" placeholder="Enter OTP" maxlength="6" type="text" ng-model="vm.OTP" />
                                    <i href="#" class="fa fa-refresh" ng-show="vm.showOTP" ng-click="vm.resendOTP()" uib-tooltip="Resend OTP"></i>
                                    <i href="#" class="fa fa-sign-in" ng-click="vm.validOTP()" ng-show="vm.showOTP && vm.OTP.length == 6" uib-tooltip="Send"></i>
                                </span>
                                <span ng-show="vm.edtInfo" class="animate-show"></span>
                            </li>

                            <li ng-show="vm.edtPhone">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="text" ng-model="vm.user.phone" />
                                        <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.editProfile('phone')"></span></div>
                                    </div>
                                </div>
                            </li>

                            <li ng-show="!vm.edtCountry">
                                <img src="/assets/images/india-icon.png" class="img-circle flag" />
                                <span ng-bind="vm.user.countryName" class="country-txt"></span>
                                <span class="fa edit-icon fa-edit" ng-click="vm.edtCountry=!vm.edtCountry"></span>
                                <span ng-show="vm.edtInfo" class="animate-show"></span>
                            </li>
                            <li ng-show="vm.edtCountry">
                                <div class="input-group">
                                    <select class="form-control" ng-model="vm.user.country" style="border:1; -webkit-appearance: none; -moz-appearance: none; background:url(assets/images/arrow.png) no-repeat;background-position:right center !important; margin-right:2px;" ng-options="country.countryID as (country.name) for country in vm.countries"></select>
                                    <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.edtCountry=!vm.edtCountry"></span></div>
                                </div>
                            </li>
                            <li>
                                <div class="progress-bar"></div>
                                <uib-progressbar class="active" value="100" type="success" ng-if="vm.user.phoneNumberConfirmed && tempUrl">
                                    <b>100%</b>
                                </uib-progressbar>
                                <uib-progressbar class="active" value="vm.progress" type="success" ng-if="!vm.user.phoneNumberConfirmed && tempUrl">
                                    <b>{{vm.progress}}%</b>
                                </uib-progressbar>
                                <uib-progressbar class="active" value="vm.progress" type="success" ng-if="vm.user.phoneNumberConfirmed && !tempUrl">
                                    <b>{{vm.progress}}%</b>
                                </uib-progressbar>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="alert alert-success" ng-show="vm.contactorSuccess">
                <strong>Success!</strong> Contractor info saved successfully !!!.
            </div>
            <uib-tabset>
                <uib-tab index="0" heading="Company Details">
                    <div class="tabs-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form name="form" class="form-horizontal">
                                        <div class="form-group" ng-class="{'has-error': vm.errCompanyName && vm.errCompanyAddress && vm.errCompanyDesc}">
                                            <div class="input-group input-groupA marginRight-0">
                                                <input type="text" name="companyName" ng-disabled="vm.enbCompanyName" ng-model="vm.companyDetail.companyName" focus-me="vm.enbCompanyName" id="cName" class="form-control" placeholder="Company Name" />
                                                <div class="input-group-addon"></div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': vm.errCompanyName && vm.errCompanyAddress && vm.errCompanyDesc}">
                                            <div class="input-group input-groupA marginRight-0">
                                                <textarea class="form-control" rows="3" ng-disabled="enbCompanyAdd" id="textArea" ng-model="vm.companyDetail.companyAddress" focus-me="enbCompanyAdd" placeholder="Company Address"></textarea>
                                                <div class="input-group-addon"></div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': vm.errCompanyName && vm.errCompanyAddress && vm.errCompanyDesc}">
                                            <div class="input-group input-groupA marginRight-0">
                                                <textarea class="form-control" rows="2" ng-disabled="enbCompanyDetail" id="" focus-me="enbCompanyDetail" ng-model="vm.companyDetail.companyDesc" maxlength="170" placeholder="About Company (Limit - 2 Lines)"></textarea>
                                                <div class="input-group-addon"></div>
                                            </div>
                                        </div>

                                        <div class="form-group  text-right">
                                            <button ng-click="vm.validateForm()" ng-disabled="form.$pristine|| form.$invalid" class="loginBtn login_btn_custom">Save &nbsp; &#x276f;</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="1" heading="Services / Products">
                    <div class="tabs-block second-form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <span class="form-title">Services offered</span>
                                            <div class="form-group col-sm-8 padding0 margin0 pull-right">
                                                <div class="input-group input-groupA marginRight-0">
                                                    <input type="text" placeholder="Search Normal..." ng-model="vm.companyDetail.Keyword" uib-typeahead="k.keywordName for k in vm.getKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.addKeyword($item)"
                                                        class="form-control">
                                                    <span ng-click="!(vm.companyDetail.Keyword) || vm.addKeyword(vm.companyDetail.Keyword)" style="cursor:pointer" class="input-group-addon">&#43;</span>
                                                </div>
                                                <div class="added-keywords">
                                                    <div class="keyword" ng-repeat="k in vm.selectedKeywords track by $index">
                                                        <p>{{k.keywordName}} </p><span style="cursor:pointer" class="fa fa-remove" ng-click="vm.removeKeyword($index)"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-title">Products</span>
                                            <div class="form-group col-sm-8 padding0 margin0 pull-right">
                                                <div class="input-group input-groupA marginRight-0">
                                                    <input type="text" placeholder="Search Normal..." ng-model="vm.companyDetail.productKey" uib-typeahead="k.keywordName for k in vm.getProductKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2"
                                                        typeahead-on-select="vm.addProductKeyword($item)" class="form-control">
                                                    <span ng-click="!(vm.companyDetail.productKey) || vm.addProductKeyword(vm.companyDetail.productKey)" style="cursor:pointer" class="input-group-addon">&#43;</span>
                                                </div>
                                                <div class="added-keywords">
                                                    <div class="keyword" ng-repeat="k in vm.selectedProductKeywords track by $index">
                                                        <p>{{k.keywordName}} </p><span style="cursor:pointer" class="fa fa-remove" ng-click="vm.removeProductKeyword($index)"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-title">Capacity</span>
                                            <div class="form-group col-sm-8 padding0 margin0 pull-right">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" name="Minimum" id="Minimum" ng-model="vm.companyDetail.MinCapacity" class="form-control" placeholder="Minimum" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" name="Maximum" id="Maximum" ng-model="vm.companyDetail.MaxCapacity" class="form-control" placeholder="Maximum" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <span class="form-title">Transportation</span>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" ng-model="vm.companyDetail.Transportation" value="Yes" class="form-control" />
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" ng-model="vm.companyDetail.Transportation" value="No" class="form-control" />
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="form-title">Packaging Services</span>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" ng-model="vm.companyDetail.PackagingServices" value="Yes" class="form-control" />
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" ng-model="vm.companyDetail.PackagingServices" value="No" class="form-control" />
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-title">Certifications</span>
                                            <div class="certi-block">
                                                <div class="cert-icons" title="USFDA (USA)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.fda == 'fda'}" for="certlogo1">
                                                        <img src="../assets/images/certi-01-fda.jpg">
                                                        <input type="checkbox" class="certlogo" id="certlogo1" ng-model="checkboxModel.fda"
                                                               ng-true-value="'fda'" ng-change="vm.reguBodyChange(checkboxModel.fda,'fda')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="MHRA (UK)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.mhra == 'mhra'}" for="mhra">
                                                        <img src="../assets/images/certi-02-mhra.jpg">
                                                        <input type="checkbox" class="certlogo" id="mhra" ng-model="checkboxModel.mhra"
                                                               ng-true-value="'mhra'" ng-change="vm.reguBodyChange(checkboxModel.mhra,'mhra')" />
                                                    </label>
                                                </div>

                                                <div class="cert-icons" title="TGA (Australia)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.tga == 'tga'}" for="tga">
                                                        <img src="../assets/images/certi-03-tga.jpg">
                                                        <input type="checkbox" class="certlogo" id="tga" ng-model="checkboxModel.tga"
                                                               ng-true-value="'tga'" ng-change="vm.reguBodyChange(checkboxModel.tga,'tga')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="HEALTH CANADA (CANADA)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.healthCanada == 'healthCanada'}" for="healthCanada">
                                                        <img src="../assets/images/certi-04-health-canada.jpg">
                                                        <input type="checkbox" class="certlogo" id="healthCanada" ng-model="checkboxModel.healthCanada"
                                                               ng-true-value="'healthCanada'" ng-change="vm.reguBodyChange(checkboxModel.healthCanada,'healthCanada')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="MCC (South Africa)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.mcc == 'mcc'}" for="mcc">
                                                        <img src="../assets/images/certi-05-mcc.jpg">
                                                        <input type="checkbox" class="certlogo" id="mcc" ng-model="checkboxModel.mcc"
                                                               ng-true-value="'mcc'" ng-change="vm.reguBodyChange(checkboxModel.mcc,'mcc')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="ANVISA (Brazil)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.anvisa == 'anvisa'}" for="anvisa">
                                                        <img src="../assets/images/certi-06-anvisa.jpg">
                                                        <input type="checkbox" class="certlogo" id="anvisa" ng-model="checkboxModel.anvisa"
                                                               ng-true-value="'anvisa'" ng-change="vm.reguBodyChange(checkboxModel.anvisa,'anvisa')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="MEDSAFE (New Zealand)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.medsafe == 'medsafe'}" for="medsafe">
                                                        <img src="../assets/images/certi-07-medsafe.jpg">
                                                        <input type="checkbox" class="certlogo" id="medsafe" ng-model="checkboxModel.medsafe"
                                                               ng-true-value="'medsafe'" ng-change="vm.reguBodyChange(checkboxModel.medsafe,'medsafe')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="MHLW (Japan)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.mhlw == 'mhlw'}" for="mhlw">
                                                        <img src="../assets/images/certi-08-mhlw.jpg">
                                                        <input type="checkbox" class="certlogo" id="mhlw" ng-model="checkboxModel.mhlw"
                                                               ng-true-value="'mhlw'" ng-change="vm.reguBodyChange(checkboxModel.mhlw,'mhlw')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="NAFDAC (Nigeria)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.nafdaq == 'nafdaq'}" for="nafdaq">
                                                        <img src="../assets/images/certi-09-nafdaq.jpg">
                                                        <input type="checkbox" class="certlogo" id="nafdaq" ng-model="checkboxModel.nafdaq"
                                                               ng-true-value="'nafdaq'" ng-change="vm.reguBodyChange(checkboxModel.nafdaq,'nafdaq')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="MCAZ (Zimbabwe)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.mcaz == 'mcaz'}" for="mcaz">
                                                        <img src="../assets/images/certi-10-mcaz.jpg">
                                                        <input type="checkbox" class="certlogo" id="mcaz" ng-model="checkboxModel.mcaz"
                                                               ng-true-value="'mcaz'" ng-change="vm.reguBodyChange(checkboxModel.mcaz,'mcaz')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="SWISSMEDIC (Switzerland)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.swissmedic == 'swissmedic'}" for="swissmedic">
                                                        <img src="../assets/images/certi-11-swissmedic.jpg">
                                                        <input type="checkbox" class="certlogo" id="swissmedic" ng-model="checkboxModel.swissmedic"
                                                               ng-true-value="'swissmedic'" ng-change="vm.reguBodyChange(checkboxModel.swissmedic,'swissmedic')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="KFDA (Korea)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.kfda == 'kfda'}" for="kfda">
                                                        <img src="../assets/images/certi-12-kfda.jpg">
                                                        <input type="checkbox" class="certlogo" id="kfda" ng-model="checkboxModel.kfda"
                                                               ng-true-value="'kfda'" ng-change="vm.reguBodyChange(checkboxModel.kfda,'kfda')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="CDSCO (India)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.cdsco == 'cdsco'}" for="cdsco">
                                                        <img src="../assets/images/certi-13-cdsco.jpg">
                                                        <input type="checkbox" class="certlogo" id="cdsco" ng-model="checkboxModel.cdsco"
                                                               ng-true-value="'cdsco'" ng-change="vm.reguBodyChange(checkboxModel.cdsco,'cdsco')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="EMEA (European Union)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.emea == 'emea'}" for="emea">
                                                        <img src="../assets/images/certi-14-emea.jpg">
                                                        <input type="checkbox" class="certlogo" id="emea" ng-model="checkboxModel.emea"
                                                               ng-true-value="'emea'" ng-change="vm.reguBodyChange(checkboxModel.emea,'emea')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="SFDA (China)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.sfda == 'sfda'}" for="sfda">
                                                        <img src="../assets/images/certi-15-sfda.jpg">
                                                        <input type="checkbox" class="certlogo" id="sfda" ng-model="checkboxModel.sfda"
                                                               ng-true-value="'sfda'" ng-change="vm.reguBodyChange(checkboxModel.sfda,'sfda')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="MoH (Sri Lanka)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.moh == 'moh'}" for="moh">
                                                        <img src="../assets/images/certi-16-moh.jpg">
                                                        <input type="checkbox" class="certlogo" id="moh" ng-model="checkboxModel.moh"
                                                               ng-true-value="'moh'" ng-change="vm.reguBodyChange(checkboxModel.moh,'moh')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="World Health Organization (WHO)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.who == 'who'}" for="who">
                                                        <img src="../assets/images/certi-17-who.jpg">
                                                        <input type="checkbox" class="certlogo" id="who" ng-model="checkboxModel.who"
                                                               ng-true-value="'who'" ng-change="vm.reguBodyChange(checkboxModel.who,'who')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Pan American Health Organization (PAHO)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.paho == 'paho'}" for="paho">
                                                        <img src="../assets/images/certi-18-paho.jpg">
                                                        <input type="checkbox" class="certlogo" id="paho" ng-model="checkboxModel.paho"
                                                               ng-true-value="'paho'" ng-change="vm.reguBodyChange(checkboxModel.paho,'paho')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="World Trade Organization (WTO)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.wto == 'wto'}" for="wto">
                                                        <img src="../assets/images/certi-19-wto.jpg">
                                                        <input type="checkbox" class="certlogo" id="wto" ng-model="checkboxModel.wto"
                                                               ng-true-value="'wto'" ng-change="vm.reguBodyChange(checkboxModel.wto,'wto')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="International Conference on Harmonization (ICH)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.ich == 'ich'}" for="ich">
                                                        <img src="../assets/images/certi-20-ich.jpg">
                                                        <input type="checkbox" class="certlogo" id="ich" ng-model="checkboxModel.ich"
                                                               ng-true-value="'ich'" ng-change="vm.reguBodyChange(checkboxModel.ich,'ich')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="World Intellectual Property Organization (WIPO)">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.wipo == 'wipo'}" for="wipo">
                                                        <img src="../assets/images/certi-21-wipo.jpg">
                                                        <input type="checkbox" class="certlogo" id="wipo" ng-model="checkboxModel.wipo"
                                                               ng-true-value="'wipo'" ng-change="vm.reguBodyChange(checkboxModel.wipo,'wipo')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Costa Rica MOH">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.costa == 'costa'}" for="costa">
                                                        <img src="../assets/images/certi-22-costa.jpg">
                                                        <input type="checkbox" class="certlogo" id="costa" ng-model="checkboxModel.costa"
                                                               ng-true-value="'costa'" ng-change="vm.reguBodyChange(checkboxModel.costa,'costa')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Danish Medicines Agency">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.danishMed == 'danishMed'}" for="danishMed">
                                                        <img src="../assets/images/certi-23-danishMed.jpg">
                                                        <input type="checkbox" class="certlogo" id="danishMed" ng-model="checkboxModel.danishMed"
                                                               ng-true-value="'danishMed'" ng-change="vm.reguBodyChange(checkboxModel.danishMed,'danishMed')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Netherlands">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.cbgmebNetharland == 'cbgmebNetharland'}" for="cbgmebNetharland">
                                                        <img src="../assets/images/certi-24-cbgmebNetharland.jpg">
                                                        <input type="checkbox" class="certlogo" id="cbgmebNetharland" ng-model="checkboxModel.cbgmebNetharland"
                                                               ng-true-value="'cbgmebNetharland'" ng-change="vm.reguBodyChange(checkboxModel.cbgmebNetharland,'cbgmebNetharland')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Ireland">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.imbIreland == 'imbIreland'}" for="imbIreland">
                                                        <img src="../assets/images/certi-25-imbIreland.jpg">
                                                        <input type="checkbox" class="certlogo" id="imbIreland" ng-model="checkboxModel.imbIreland"
                                                               ng-true-value="'imbIreland'" ng-change="vm.reguBodyChange(checkboxModel.imbIreland,'imbIreland')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Italian Pharmaceutical Agency">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.aifa == 'aifa'}" for="aifa">
                                                        <img src="../assets/images/certi-26-aifa.jpg">
                                                        <input type="checkbox" class="certlogo" id="aifa" ng-model="checkboxModel.aifa"
                                                               ng-true-value="'aifa'" ng-change="vm.reguBodyChange(checkboxModel.aifa,'aifa')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Ukraine Ministry of Health">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.umh == 'umh'}" for="umh">
                                                        <img src="../assets/images/certi-27-umh.jpg">
                                                        <input type="checkbox" class="certlogo" id="umh" ng-model="checkboxModel.umh"
                                                               ng-true-value="'umh'" ng-change="vm.reguBodyChange(checkboxModel.umh,'umh')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Singapore">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.hsaSingapore == 'hsaSingapore'}" for="hsaSingapore">
                                                        <img src="../assets/images/certi-28-hsaSingapore.jpg">
                                                        <input type="checkbox" class="certlogo" id="hsaSingapore" ng-model="checkboxModel.hsaSingapore"
                                                               ng-true-value="'hsaSingapore'" ng-change="vm.reguBodyChange(checkboxModel.hsaSingapore,'hsaSingapore')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Department of Health Pharmaceutical Services Hong Kong">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.dhpsHongkong == 'dhpsHongkong'}" for="dhpsHongkong">
                                                        <img src="../assets/images/certi-29-dhpsHongkong.jpg">
                                                        <input type="checkbox" class="certlogo" id="dhpsHongkong" ng-model="checkboxModel.dhpsHongkong"
                                                               ng-true-value="'dhpsHongkong'" ng-change="vm.reguBodyChange(checkboxModel.dhpsHongkong,'dhpsHongkong')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Paraguay MOH">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.parMOH == 'parMOH'}" for="parMOH">
                                                        <img src="../assets/images/certi-30-parMOH.jpg">
                                                        <input type="checkbox" class="certlogo" id="parMOH" ng-model="checkboxModel.parMOH"
                                                               ng-true-value="'parMOH'" ng-change="vm.reguBodyChange(checkboxModel.parMOH,'parMOH')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Thailand">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.thai == 'thai'}" for="thai">
                                                        <img src="../assets/images/certi-31-thai.jpg">
                                                        <input type="checkbox" class="certlogo" id="thai" ng-model="checkboxModel.thai"
                                                               ng-true-value="'thai'" ng-change="vm.reguBodyChange(checkboxModel.thai,'thai')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Sweden">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.lmpaSweden == 'lmpaSweden'}" for="lmpaSweden">
                                                        <img src="../assets/images/certi-32-lmpaSweden.jpg">
                                                        <input type="checkbox" class="certlogo" id="lmpaSweden" ng-model="checkboxModel.lmpaSweden"
                                                               ng-true-value="'lmpaSweden'" ng-change="vm.reguBodyChange(checkboxModel.lmpaSweden,'lmpaSweden')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Germany">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.fidmdGermany == 'fidmdGermany'}" for="fidmdGermany">
                                                        <img src="../assets/images/certi-33-fidmdGermany.jpg">
                                                        <input type="checkbox" class="certlogo" id="fidmdGermany" ng-model="checkboxModel.fidmdGermany"
                                                               ng-true-value="'fidmdGermany'" ng-change="vm.reguBodyChange(checkboxModel.fidmdGermany,'fidmdGermany')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Malaysia">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.malaysia == 'malaysia'}" for="malaysia">
                                                        <img src="../assets/images/certi-34-malaysia.jpg">
                                                        <input type="checkbox" class="certlogo" id="malaysia" ng-model="checkboxModel.malaysia"
                                                               ng-true-value="'malaysia'" ng-change="vm.reguBodyChange(checkboxModel.malaysia,'malaysia')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Pakistan">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.pakistan == 'pakistan'}" for="pakistan">
                                                        <img src="../assets/images/certi-35-pakistan.jpg">
                                                        <input type="checkbox" class="certlogo" id="pakistan" ng-model="checkboxModel.pakistan"
                                                               ng-true-value="'pakistan'" ng-change="vm.reguBodyChange(checkboxModel.pakistan,'pakistan')" />
                                                    </label>
                                                </div>
                                                <div class="cert-icons" title="Uganda">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : checkboxModel.uncstUganda == 'uncstUganda'}" for="uncstUganda">
                                                        <img src="../assets/images/certi-36-uncstUganda.jpg">
                                                        <input type="checkbox" class="certlogo" id="uncstUganda" ng-model="checkboxModel.uncstUganda"
                                                               ng-true-value="'uncstUganda'" ng-change="vm.reguBodyChange(checkboxModel.uncstUganda,'uncstUganda')" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group multi-choose">
                                            <span class="form-title">Associations</span>
                                            <multiselect class="input-xlarge" multiple="true" ng-model="vm.companyDetail.affiliatedAssociations" options="c for c in vm.affiliatedAssociations" change="selected()">
                                            </multiselect>
                                        </div>
                                        <div class="form-group multi-choose">
                                            <span class="form-title">Facilities</span>
                                            <multiselect class="input-xlarge" multiple="true" ng-model="vm.companyDetail.Facilities" options="c for c in vm.Facilities" change="selected()">
                                            </multiselect>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-title">Technical Specification</span>
                                            <textarea class="form-control" ng-model="vm.companyDetail.TechnicalSpecs" placeholder="Technical Specification"></textarea>

                                        </div>
                                        <div class="form-group text-right">
                                            <button class="loginBtn login_btn_custom" ng-click="vm.submitCategories()">Save &nbsp; &#x276f;</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <!-- <uib-tab index="2" disable="false" uib-tooltip="Listing package blocked by admin"> -->
                <uib-tab index="2" disable="vm.enbPackageTab" uib-tooltip="{{vm.enbPackageTab?'Complete Profile to 100%':''}}">
                    <uib-tab-heading>
                        <span class="fa fa-lock" ng-show="vm.enbPackageTab"></span> Listing Package
                    </uib-tab-heading>
                    <div class="tabs-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <input type="text" placeholder="Search Normal..." ng-model="vm.companyDetail.packages" uib-typeahead="k.keywordName for k in vm.getPackages($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.addPackage($item)"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" ng-disabled="vm.packageEdit" ng-model="vm.objPackage.packageId" ng-options="item.pId as (item.name + ' (' + item.days + ' days)') for item in vm.packages" ng-change="vm.changePackage(vm.objPackage.packageId)"></select>
                                        </div>
                                        <!-- <div class="form-group">
                                <select class="form-control" ng-disabled="vm.packageEdit"
                                        ng-model="vm.companyDetail.location"
                                        ng-options="item for item in vm.locations"></select>
                            </div> -->
                                        <div class="form-group" ng-show="vm.objPackage.savedPrice > 0">
                                            Selected Keyword Current Price :
                                            <input class="form-control" type="text" ng-disabled="true" ng-model="vm.objPackage.savedPrice">
                                        </div>
                                        <div class="form-group" ng-show="vm.objPackage.savedPrice > 0 || vm.objPackage.savedTotalPrice > 0">
                                            Total Package Price :
                                            <input type="text" class="form-control" ng-disabled="true" ng-model="vm.objPackage.savedTotalPrice">
                                        </div>
                                        <div class="form-group text-right">
                                            <input class="loginBtn login_btn_custom" type="button" value="Submit &nbsp; &#x276f;" ng-click="vm.submitPackage()" />
                                            <input class="loginBtn" type="button" ng-click="vm.cancelEdit()" ng-show="vm.packageEdit" value="Cancel &nbsp; &#x276f;" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="packageDetailsBox tablestickyheader">
                                    <h5> Package Summary</h5>
                                    <div class="top-keyword-box table_green_styling">
                                        <table class="table table-bordered packageSummaryTable">
                                            <thead>
                                                <tr>
                                                    <th>Keyword</th>
                                                    <th>Package</th>
                                                    <th>Days</th>
                                                    <!--<th>Location</th>-->
                                                    <!-- <th></th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="p in vm.addedPackages">
                                                    <td>{{p.keywordName}}</td>
                                                    <td>{{p.packageName}}</td>
                                                    <td>{{p.packageDays}}</td>
                                                    <!-- <td>{{p.location}}</td> -->
                                                    <!-- <td>
                                            <span ng-click="vm.editPackage(p)" class="fa fa-edit Editable"></span>
                                            <span confirmed-click="vm.deletePackage(p)" ng-confirm-click="Are you sure you want to delete?" class="fa fa-remove Editable"></span>
                                        </td> -->
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>