﻿<div class="main-container viewPro">
    <div id="content" class="darkbg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="title">
                            <h3><i class="fa fa-medkit"></i> Products Offered</h3>
                        </div>
                        <div class="prowrap">
                            <ul class="probox">
                                <li ng-repeat="product in vm.products">{{product.keywordName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box midbox no-padding">
                        <div class="comp-info">
                            <div class="author">
                                <div ng-if="!tempUrl" class="comp-logo-default"><i class="fa fa-user-circle"></i></div>
                                <img src="{{vm.imageUrl}}" ng-if="tempUrl" for="profPic" class="comp-logo-default" />
                                <div class="comp-title">
                                    <h4>{{vm.user.firstName}} {{vm.user.lastName}}</h4>
                                    <div class="rate-block">
                                        <div class="rate-top" style="width: {{vm.perRating}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="rate-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                </div>
                            </div>
                            <h2>{{vm.contractorData.companyName}}</h2>
                            <i><img src="../../assets/images/i-map.png" alt="map"></i>
                            <p>{{vm.contractorData.companyAddress}}</p>
                        </div>
                        <div class="comp-add background_lg">{{vm.contractorData.companyDescription}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="title">
                            <h3><i class="fa fa-gears"></i> Services Offered</h3>
                        </div>
                        <div class="prowrap">
                            <ul class="probox">
                                <li ng-repeat="service in vm.services">{{service.keywordName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <div class="box trns-pack-block">
                        <div class="title">
                            <h3><i class="fa fa-truck"></i> Transportation </h3>
                        </div>
                        <h2 ng-class="{'trns-yes': vm.contractorData.transportation == 'Yes','trns-no' : vm.contractorData.transportation == 'No'}">
                            {{vm.contractorData.transportation}}
                        </h2>
                        <div class="title">
                            <h3><i class="fa fa-dropbox"></i> Packaging Services </h3>
                        </div>
                        <h2 ng-class="{'trns-yes': vm.contractorData.packagingServices == 'Yes','trns-no' : vm.contractorData.packagingServices == 'No'}">
                            {{vm.contractorData.packagingServices}}
                        </h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box min-max-cap">
                        <div class="title">
                            <h3>Min Capacity </h3>
                        </div>
                        <h2 class="viewContractorProfile_min_max">{{vm.contractorData.minCapacity}}</h2>
                        <div class="title">
                            <h3>Max Capacity </h3>
                        </div>
                        <h2 class="viewContractorProfile_min_max">{{vm.contractorData.maxCapacity}}</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box facility-block">
                        <div class="title">
                            <h3 class="dark">Facilities</h3>
                        </div>
                        <div class="facility-content">
                            <ul>
                                <li ng-repeat="fac in vm.facilities">{{fac}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="container-fluid">
                    <div class="box certi-contro-view">
                        <div class="title">
                            <h3><span><img src="../../assets/images/i-bod.png" title="i-bod"></span>Certifications</h3>
                        </div>
                        <ul class="certi-contoview-icons">
                            <li ng-show="checkboxModel.fda"><img src="../assets/images/certi-01-fda.jpg" title="USFDA (USA)" title="USFDA (USA)"></li>
                            <li ng-show="checkboxModel.mhra"> <img src="../assets/images/certi-02-mhra.jpg" title="MHRA (UK)" title="MHRA (UK)"></li>
                            <li ng-show="checkboxModel.tga"> <img src="../assets/images/certi-03-tga.jpg" title="TGA (Australia)" title="TGA (Australia)"></li>
                            <li ng-show="checkboxModel.healthCanada"> <img src="../assets/images/certi-04-health-canada.jpg" title="HEALTH CANADA (CANADA)"></li>
                            <li ng-show="checkboxModel.mcc"> <img src="../assets/images/certi-05-mcc.jpg" title="MCC (South Africa)"></li>
                            <li ng-show="checkboxModel.anvisa"> <img src="../assets/images/certi-06-anvisa.jpg" title="ANVISA (Brazil)"></li>
                            <li ng-show="checkboxModel.medsafe"> <img src="../assets/images/certi-07-medsafe.jpg" title="MEDSAFE (New Zealand)"></li>
                            <li ng-show="checkboxModel.mhlw"> <img src="../assets/images/certi-08-mhlw.jpg" title="MHLW (Japan)"></li>
                            <li ng-show="checkboxModel.nafdaq"> <img src="../assets/images/certi-09-nafdaq.jpg" title="NAFDAC (Nigeria)"></li>
                            <li ng-show="checkboxModel.mcaz"> <img src="../assets/images/certi-10-mcaz.jpg" title="MCAZ (Zimbabwe)"></li>
                            <li ng-show="checkboxModel.swissmedic"> <img src="../assets/images/certi-11-swissmedic.jpg" title="SWISSMEDIC (Switzerland)"></li>
                            <li ng-show="checkboxModel.kfda"> <img src="../assets/images/certi-12-kfda.jpg" title="KFDA (Korea)"></li>
                            <li ng-show="checkboxModel.cdsco"> <img src="../assets/images/certi-13-cdsco.jpg" title="CDSCO (India)"></li>
                            <li ng-show="checkboxModel.emea"> <img src="../assets/images/certi-14-emea.jpg" title="EMEA (European Union)"></li>
                            <li ng-show="checkboxModel.sfda"> <img src="../assets/images/certi-15-sfda.jpg" title="SFDA (China)"></li>
                            <li ng-show="checkboxModel.moh"> <img src="../assets/images/certi-16-moh.jpg" title="MoH (Sri Lanka)"></li>
                            <li ng-show="checkboxModel.who"> <img src="../assets/images/certi-17-who.jpg" title="World Health Organization (WHO)"></li>
                            <li ng-show="checkboxModel.paho"> <img src="../assets/images/certi-18-paho.jpg" title="Pan American Health Organization (PAHO)"></li>
                            <li ng-show="checkboxModel.wto"> <img src="../assets/images/certi-19-wto.jpg" title="World Trade Organization (WTO)"></li>
                            <li ng-show="checkboxModel.ich"> <img src="../assets/images/certi-20-ich.jpg" title="International Conference on Harmonization (ICH)"></li>
                            <li ng-show="checkboxModel.wipo"> <img src="../assets/images/certi-21-wipo.jpg" title="World Intellectual Property Organization (WIPO)"></li>
                            <li ng-show="checkboxModel.costa"> <img src="../assets/images/certi-22-costa.jpg" title="Costa Rica MOH"></li>
                            <li ng-show="checkboxModel.danishMed"> <img src="../assets/images/certi-23-danishMed.jpg" title="Danish Medicines Agency"></li>
                            <li ng-show="checkboxModel.cbgmebNetharland"> <img src="../assets/images/certi-24-cbgmebNetharland.jpg" title="Netherlands"></li>
                            <li ng-show="checkboxModel.imbIreland"> <img src="../assets/images/certi-25-imbIreland.jpg" title="Ireland"></li>
                            <li ng-show="checkboxModel.aifa"> <img src="../assets/images/certi-26-aifa.jpg" title="Italian Pharmaceutical Agency"></li>
                            <li ng-show="checkboxModel.umh"> <img src="../assets/images/certi-27-umh.jpg" title="Ukraine Ministry of Health"></li>
                            <li ng-show="checkboxModel.hsaSingapore"> <img src="../assets/images/certi-28-hsaSingapore.jpg" title="Singapore"></li>
                            <li ng-show="checkboxModel.dhpsHongkong"> <img src="../assets/images/certi-29-dhpsHongkong.jpg" title="Department of Health Pharmaceutical Services Hong Kong"></li>
                            <li ng-show="checkboxModel.parMOH"> <img src="../assets/images/certi-30-parMOH.jpg" title="Paraguay MOH"></li>
                            <li ng-show="checkboxModel.thai"> <img src="../assets/images/certi-31-thai.jpg" title="Thailand"></li>
                            <li ng-show="checkboxModel.lmpaSweden"> <img src="../assets/images/certi-32-lmpaSweden.jpg" title="Sweden"></li>
                            <li ng-show="checkboxModel.fidmdGermany"> <img src="../assets/images/certi-33-fidmdGermany.jpg" title="Germany"></li>
                            <li ng-show="checkboxModel.malaysia"> <img src="../assets/images/certi-34-malaysia.jpg" title="Malaysia"></li>
                            <li ng-show="checkboxModel.pakistan"> <img src="../assets/images/certi-35-pakistan.jpg" title="Pakistan"></li>
                            <li ng-show="checkboxModel.uncstUganda"> <img src="../assets/images/certi-36-uncstUganda.jpg" title="Uganda"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container-fluid">
                    <div class="box affil-block">
                        <div class="title">
                            <h3>Affiliated associations</h3>
                        </div>
                        <div class="affil-content">
                            <ul>
                                <li ng-repeat="aff in vm.affiliatedAssociations">{{aff}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="box techspec">
                        <div class="title">
                            <h3 class="dark">Technical Spec</h3>
                        </div>
                        <div class="associations">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>{{vm.contractorData.technicalSpecs}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="loginBtn fixedbtn" ng-click="vm.contactContractor()">Contact {{vm.contractorData.companyName}} </button>




            <div class="row" ng-hide="true">
                <div class="container-fluid">
                    <div class="box review-wrap">
                        <h3>Reviews</h3>
                        <div class="reviewslide">
                            <div class="reviewbox">
                                <div class="review">
                                    <div class="review-tx">
                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 1
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-tx">
                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 2
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-tx">

                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 3
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewbox">
                                <div class="review">
                                    <div class="review-tx">
                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 4
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-tx">
                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 5
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-tx">

                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 6
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewbox">
                                <div class="review">
                                    <div class="review-tx">
                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 7
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-tx">
                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 8
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-tx">

                                        <div class="review-pic"><img src="../../assets/images/review-pic.jpg" alt="review-pic"></div>
                                        <h4>
                                            Company Name 9
                                            <span class="pro-rating">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                      </span>
                                        </h4>
                                        <div class="review-txbox">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>