﻿<div class="main-container">
    <div id="content" class="search-page">

        <div class="row">
            <div class="col-sm-3 pull-right">
                <div class="searchbar">
                    <div class="input-group">
                        <input type="text" placeholder="Search your keywords here" ng-model="vm.Keyword" uib-typeahead="k as k.keywordName for k in vm.getKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.onSelect(vm.Keyword)"
                            class="form-control">
                        <span class="input-group-btn"><button class="btn btn-default inner-search" ng-click="vm.onSelect(vm.Keyword)" type="button"><i class="fa fa-search" aria-hidden="true"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
        <h3>Search Results</h3>
        <div class="searchpaidusers_main " ng-if="vm.randomisedPaidContr.length > 0">
            <ul class="searchpaidusers_ul">
                <li class="view-active" ng-repeat="c in vm.randomisedPaidContr">
                    <!-- <i  class="view"></i> -->
                    <div class="searchpaidusers_wrapper" uib-tooltip="View {{c.companyName}}'s Profile" ng-click="vm.viewProfile(c)" style="cursor:pointer">
                        <div class="searchpaidusers_top">
                            <div ng-if="!c.tempUrl" class="comp-logo-default"><i class="fa fa-user-circle"></i></div>
                            <div class="searchpaidusers_pp">
                                <img src="https://s3.ap-south-1.amazonaws.com/outchem/images/{{c.contractorId}}.jpg" ng-if="c.tempUrl" for="profPic" style="height:100px;width:100px;" class="comp-logo-default" />
                            </div>
                            <div class="searchpaidusers_address">
                                <h4>{{c.companyName}}</h4>
                                <div class="rate-block">
                                    <div class="rate-top" style="width: {{c.perRating}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="rate-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="searchpaidusers_bottom">
                            <div class="com-ser">
                                <h5>Services Offered</h5>
                                <p>{{c.services}}</p>
                            </div>
                            <div class="com-pro">
                                <h5>Products</h5>
                                <p>{{c.products}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="search_unpaidusers_main" ng-if="vm.randomisedUnpaidContr.length > 0">
            <ul class="search-result search_unpaidusers_ul">
                <li class="view-active" ng-repeat="c in vm.randomisedUnpaidContr">
                    <!-- <i  class="view"></i> -->
                    <div class="search_unpaidusers_wrapper result-wrap" uib-tooltip="View {{c.companyName}}'s Profile" ng-click="vm.viewProfile(c)" style="cursor:pointer">
                        <div class="result-left">
                            <div ng-if="!c.tempUrl" class="comp-logo-default"><i class="fa fa-user-circle"></i></div>
                            <img src="https://s3.ap-south-1.amazonaws.com/outchem/images/{{c.contractorId}}.jpg" ng-if="c.tempUrl" for="profPic" style="height:100px;width:100px;" class="comp-logo-default" />
                            <div class="comp-title">
                                <h4>{{c.companyName}}</h4>
                                <div class="rate-block">
                                    <div class="rate-top" style="width: {{c.perRating}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="rate-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>

                            </div>
                        </div>
                        <div class="result-right">
                            <div class="com-ser">
                                <h5>Services Offered</h5>
                                <p>{{c.services}}</p>
                            </div>
                            <div class="com-pro">
                                <h5>Products</h5>
                                <p>{{c.products}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="darkbg" ng-if="vm.randomisedPaidContr.length == 0 && vm.randomisedUnpaidContr.length == 0">
            <p class="no-rec-found"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Contractor Found...!</p>
        </div>
    </div>
</div>