<div class="homepagesliderwrapper">
    <div class="slider-blocks hm-ser-block homepagetopslider">
        <div uib-carousel active="1" interval="2000" no-wrap="false">
            <div uib-slide ng-repeat="imgObj in vm.imgSlides" index="$index">
                <img ng-src="{{imgObj.image}}" style="margin:auto;">
            </div>
        </div>
    </div>
    <div class="search-div homepagesearch">
        <div class="input-group">
            <!--uib-typeahead="k as k.keywordName for k in vm.getKeywords($viewValue)"-->
            <!--typeahead-on-select="vm.onSelect(vm.Keyword)"-->
            <input type="text" placeholder="Search..." ng-model="vm.Keyword" uib-typeahead="k as k.keywordName for k in vm.getKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.onSelect(vm.Keyword)"
                class="form-control">
            <span class="input-group-btn">
				<button ng-click="vm.btnGoSearchClk(vm.Keyword.keywordId)" class="btn btn-default" type="button">Go!</button>
			</span>
        </div>
        <div class="noResult">
            <i ng-show="loadingKeywords" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
    <div class="container home4blocks">
        <div class="topPara">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-3 col-md-6 tilesFour">
                        <div class="col-xs-6 col-sm-3">
                            <i class="fa fa-cart-plus"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.buyerCnt }} </h1>
                            <h2> Buyer</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <i class="fa fa-industry"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.contractorCnt }}</h1>
                            <h2>contractor</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3" ng-click="vm.showAllKeywords('Product')" style="cursor:pointer">
                            <i class="fa fa-medkit"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.productCnt }}</h1>
                            <h2>Product</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3" ng-click="vm.showAllKeywords('Service')" style="cursor:pointer">
                            <i class="fa fa-gears"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.serviceCnt }}</h1>
                            <h2>Service</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row homeaboutus" id="aboutuscontent">
        <div class="col-md-6 intro-block homeaboutus_contentwrap">
            <div class="intro">
                <h1>ABOUT US</h1>
            </div>
            <p>we, at outchem.com aim towords giving you the best experience of the new market that is arising from current <span>Global Chemical Industry</span> with the help of technology and connect you globally. </p>
            <p> Due to the current market scenario, Outsourcing of Research &amp; Development, which was just a segment of the chemical industry, is itself becoming a Growing Market.</p>
            <p>'<span>One stop Shop</span>' is a necessity in todays world. From Manufacturing to Research &amp; Development,<span> Our Motto</span> is to give our users a one stop solution for all their Outsourcing Needs.</p>
            <hr />
        </div>
    </div>
    <div class="row carausolHome">
        <div class="col-md-8">
            <div class="slider-blocks hm-ser-block">
                <div uib-carousel active="0" interval="2000" no-wrap="false">
                    <div uib-slide ng-repeat="slide in vm.servSlides" index="slide.id">
                        <!--<h2>{{slide.name}}</h2>-->
                        <h2><a href="/search?searchTxt={{slide.name}}">{{slide.name}}</a></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="filcolor">
                <i class="fa fa-gears" style="font-size: 64px;"></i>
                <h1>Services</h1>
            </div>
        </div>
    </div>
    <div class="row carausolHome">
        <div class="col-md-8">
            <div class="slider-blocks hm-ser-block">
                <div uib-carousel active="0" interval="3000" no-wrap="false">
                    <div uib-slide ng-repeat="slide in vm.prodSlides" index="slide.id">
                        <!--<h2>{{slide.name}}</h2>-->
                        <h2><a href="/search?searchTxt={{slide.name}}">{{slide.name}}</a></h2>
                        <!--<p>{{slide.description}}</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="filcolor">
                <i class="fa fa-medkit" style="font-size: 64px;"></i>
                <h1>Products</h1>
            </div>
        </div>
    </div>
    <div class="regulatoryCalausol carausolHome row">
        <div class="carousel slide col-sm-8">
            <!-- Wrapper for slides -->
            <div class="home-certi-logos">
                <ul>
                    <li> <img src="../assets/images/certi-01-fda.jpg" title="USFDA (USA)"></li>
                    <li> <img src="../assets/images/certi-02-mhra.jpg" title="MHRA (UK)"></li>
                    <li> <img src="../assets/images/certi-03-tga.jpg" title="TGA (Australia)"></li>
                    <li> <img src="../assets/images/certi-04-health-canada.jpg" title="HEALTH CANADA (CANADA)"></li>
                    <li> <img src="../assets/images/certi-05-mcc.jpg" title="MCC (South Africa)"></li>
                    <li> <img src="../assets/images/certi-06-anvisa.jpg" title="ANVISA (Brazil)"></li>
                    <li> <img src="../assets/images/certi-07-medsafe.jpg" title="MEDSAFE (New Zealand)"></li>
                    <li> <img src="../assets/images/certi-08-mhlw.jpg" title="MHLW (Japan)"></li>
                    <li> <img src="../assets/images/certi-09-nafdaq.jpg" title="NAFDAC (Nigeria)"></li>
                    <li> <img src="../assets/images/certi-10-mcaz.jpg" title="MCAZ (Zimbabwe)"></li>
                    <li> <img src="../assets/images/certi-11-swissmedic.jpg" title="SWISSMEDIC (Switzerland)"></li>
                    <li> <img src="../assets/images/certi-12-kfda.jpg" title="KFDA (Korea)"></li>
                    <li> <img src="../assets/images/certi-13-cdsco.jpg" title="CDSCO (India)"></li>
                    <li> <img src="../assets/images/certi-14-emea.jpg" title="EMEA (European Union)"></li>
                    <li> <img src="../assets/images/certi-15-sfda.jpg" title="SFDA (China)"></li>
                    <li> <img src="../assets/images/certi-16-moh.jpg" title="MoH (Sri Lanka)"></li>
                    <li> <img src="../assets/images/certi-17-who.jpg" title="World Health Organization (WHO)"></li>
                    <li> <img src="../assets/images/certi-18-paho.jpg" title="Pan American Health Organization (PAHO)"></li>
                    <li> <img src="../assets/images/certi-19-wto.jpg" title="World Trade Organization (WTO)"></li>
                    <li> <img src="../assets/images/certi-20-ich.jpg" title="International Conference on Harmonization (ICH)"></li>
                    <li> <img src="../assets/images/certi-21-wipo.jpg" title="World Intellectual Property Organization (WIPO)"></li>
                    <li> <img src="../assets/images/certi-22-costa.jpg" title="Costa Rica MOH"></li>
                    <li> <img src="../assets/images/certi-23-danishMed.jpg" title="Danish Medicines Agency"></li>
                    <li> <img src="../assets/images/certi-24-cbgmebNetharland.jpg" title="Netherlands"></li>
                    <li> <img src="../assets/images/certi-25-imbIreland.jpg" title="Ireland"></li>
                    <li> <img src="../assets/images/certi-26-aifa.jpg" title="Italian Pharmaceutical Agency"></li>
                    <li> <img src="../assets/images/certi-27-umh.jpg" title="Ukraine Ministry of Health"></li>
                    <li> <img src="../assets/images/certi-28-hsaSingapore.jpg" title="Singapore"></li>
                    <li> <img src="../assets/images/certi-29-dhpsHongkong.jpg" title="Department of Health Pharmaceutical Services Hong Kong"></li>
                    <li> <img src="../assets/images/certi-30-parMOH.jpg" title="Paraguay MOH"></li>
                    <li> <img src="../assets/images/certi-31-thai.jpg" title="Thailand"></li>
                    <li> <img src="../assets/images/certi-32-lmpaSweden.jpg" title="Sweden"></li>
                    <li> <img src="../assets/images/certi-33-fidmdGermany.jpg" title="Germany"></li>
                    <li> <img src="../assets/images/certi-34-malaysia.jpg" title="Malaysia"></li>
                    <li> <img src="../assets/images/certi-35-pakistan.jpg" title="Pakistan"></li>
                    <li> <img src="../assets/images/certi-36-uncstUganda.jpg" title="Uganda"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 pr0">
            <div class="filcolor">
                <h1>Certifications</h1>
            </div>
        </div>
    </div>
    <div class="alert alert-success" ng-show="vm.contactSuccess">
        <strong>Thank You!</strong> For contacting us.
    </div>
    <div class="row homeContactSection" ng-show="vm.showContactUs">
        <h1>Get in touch with us!</h1>
        <div class="form-group" ng-class="{'has-error': (!vm.fName || vm.fName == '') && vm.fNameError}">
            <input id="fullName" type="text" class="form-control" ng-model="vm.fName" placeholder="Your Name" />
        </div>
        <div class="form-group" ng-class="{'has-error': ((!vm.mobile || vm.mobile == '') && vm.mobileError) || vm.mobileError}">
            <input id="Mobile" type="text" class="form-control" ng-model="vm.mobile" placeholder="Your Mobile Number" maxlength="10" name="mobileno" /><br />
        </div>
        <div class="form-group" ng-class="{'has-error': ((!vm.email || vm.email == '') && vm.emailError) || vm.emailError}">
            <input id="Email" type="email" class="form-control" ng-model="vm.email" placeholder="Your Email ID" name="email" required />
        </div>
        <div class="form-group">
            <textarea id="Comment" name="comments" ng-model="vm.comment" required class="form-control" rows="3" placeholder="Your comments or queries"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="loginBtn pull-right login_btn_custom" ng-click="vm.validateContact()">Submit</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>