<div class="main-container">
    <ul class="nav nav-tabs adminDashboard_tabs_wrap">
        <li><a ui-sref="adminDashboard">Dashboard</a></li>
        <li class="active"><a ui-sref="adminProfile">Profile</a></li>
    </ul>
    <div class="row adminprofile">
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <form name="CategoryForm">
                    <div class="form-group col-sm-12 padding0" style="line-height:32px">
                        <label>Category</label>
                    </div>
                    <div class="form-group col-sm-9" ng-class="{'has-error': !CategoryForm.CategoryNameInput.$pristine && CategoryForm.CategoryNameInput.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="CategoryNameInput" class="form-control" placeholder="Type/Search a category" aria-describedby="basic-addon2" ng-model="adminProfileController.category.name" required>
                            <span style="cursor:pointer" class="input-group-addon" ng-click="adminProfileController.openCategoryModal(adminProfileController.category,categoryResults, CategoryForm.CategoryNameInput.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable header-fixed">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.categoryHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in adminProfileController.categoryData | filter:{name : adminProfileController.category.name} as categoryResults" ng-include="adminProfileController.getCategoryTemplate(category)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Keyword</label>
                </div>
                <form name="KeywordForm">
                    <div class="form-group col-sm-3 pr0 margin0" ng-class="{'has-error': !KeywordForm.KeywordCategoryInput.$pristine && KeywordForm.KeywordCategoryInput.$invalid}">
                        <div class="input-group input-groupA">
                            <select class="form-control" name="KeywordCategoryInput" ng-model="adminProfileController.keyword.category" id="selectCategory" ng-options="categoryOption.id as categoryOption.name for categoryOption in adminProfileController.categoryData" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-class="{'has-error': !KeywordForm.KeywordNameInput.$pristine && KeywordForm.KeywordNameInput.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="KeywordNameInput" class="form-control" placeholder="Type/Search here" aria-describedby="basic-addon2" ng-model="adminProfileController.keyword.name" required>
                            <span class="input-group-addon" ng-click="adminProfileController.openKeywordModal(adminProfileController.keyword, keywordsresult, KeywordForm.KeywordNameInput.$invalid, KeywordForm.KeywordCategoryInput.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.keywordHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="keyword in adminProfileController.keywordData | filter:{keywordName: adminProfileController.keyword.name} as keywordsresult" ng-include="adminProfileController.getKeywordTemplate(keyword)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Create New Listing Package</label>
                </div>
                <div style="clear:both"></div>
                <form name="PackageForm">
                    <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !PackageForm.PackageName.$pristine && PackageForm.PackageName.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="PackageName" class="form-control" placeholder="Search/Add Package Name" aria-describedby="basic-addon2" ng-model="adminProfileController.package.name" required>
                            <span class="input-group-addon" ng-click="adminProfileController.openListPackageModal(adminProfileController.package, packageResults, PackageForm.PackageName.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.packageListingHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="package in adminProfileController.packageListingData | filter:{name: adminProfileController.package.name} as packageResults" ng-include="adminProfileController.getPackageTemplate(package)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Create Pricing</label>
                </div>
                <div class="">
                    <div style="clear:both"></div>
                    <div class="form-group col-sm-3 padding0 margin0">
                        <div class="input-group">
                            <input type="number" name="RankFrom" placeholder="From(Rank)" class="form-control" ng-model="adminProfileController.pricing.from">
                        </div>
                    </div>
                    <div class="form-group col-sm-3 padding0 margin0">
                        <div class="input-group">
                            <input type="number" name="RankTo" placeholder="To(Rank)" class="form-control" ng-model="adminProfileController.pricing.to">
                        </div>
                    </div>
                    <div class="form-group col-sm-3 padding0 margin0">
                        <div class="input-group input-groupA">
                            <input type="number" name="RankPrice" placeholder="Price" class="form-control" aria-describedby="basic-addon2" ng-model="adminProfileController.pricing.price">
                            <span class="input-group-addon" ng-click="adminProfileController.addPrice(adminProfileController.pricing)">&#43;</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-1">
                        <a style="margin-left: 5px;" class="package-delete-icon" ng-click="adminProfileController.deletePrice()"></a>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-sm adminprofile_savebtn" ng-disabled="!adminProfileController.isPriceDirty" ng-click="adminProfileController.openPriceModal()">Save</button>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.pricingHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pricing in adminProfileController.pricingData" ng-include="adminProfileController.getPricingTemplate(pricing)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12">
                    <strong>Base Price : </strong>{{adminProfileController.basePrice | currency:"&#8377;"}}
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="col-sm-12 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Keyword Details</label>
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" name="KewordDetailSearch" class="form-control" placeholder="Search here by Keyword Name" ng-model="adminProfileController.keywordDetail.searchTerm">
                </div>
                <!-- <div class="col-sm-4">
                <button class="btn btn-info" ng-click="adminProfileController.testClick()">Click Test</button>
            </div> -->
                <div style="clear: both;"></div>
                <div class="col-md-12">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.keywordDetailsHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="keywordDetail in adminProfileController.keywordDetailsData | filter: {keywordName : adminProfileController.keywordDetail.searchTerm}">
                                    <td>{{keywordDetail.keywordName}}</td>
                                    <td>{{keywordDetail.categoryName}}</td>
                                    <td>{{keywordDetail.rank}}</td>
                                    <td>{{keywordDetail.price | currency:"&#8377;"}}</td>
                                    <td>{{keywordDetail.count}}</td>
                                    <td><a href="" ng-click="adminProfileController.openContractorListModal(keywordDetail)">{{keywordDetail.contractorCount}}</a></td>
                                    <td><a href="" ng-click="adminProfileController.openBuyerListModal(keywordDetail)">{{keywordDetail.buyerCount}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height: 32px">
                    <label>Create Facilities</label>
                </div>
                <div style="clear: both;"></div>
                <form name="FacilitiesForm">
                    <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !FacilitiesForm.FacilityName.$pristine && FacilitiesForm.FacilityName.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="FacilityName" class="form-control" placeholder="Search/Add Facility" aria-describedby="basic-addon2" ng-model="adminProfileController.facility.name">
                            <span class="input-group-addon" ng-click="adminProfileController.addFacility(facilitiesResult, FacilitiesForm.FacilityName.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div>
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.facilitiesHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="facility in adminProfileController.facilitiesData | filter : {facilityName : adminProfileController.facility.name} as facilitiesResult" ng-include="adminProfileController.getFacilitiesTemplate(facility)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height: 32px">
                    <label>Create Affiliations</label>
                </div>
                <div style="clear: both;"></div>
                <form name="AffiliationForm">
                    <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !AffiliationForm.AffiliationName.$pristine && AffiliationForm.AffiliationName.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="AffiliationName" class="form-control" placeholder="Search/Add Affiliations" aria-describedby="basic-addon2" ng-model="adminProfileController.affAssociation.name">
                            <span class="input-group-addon" ng-click="adminProfileController.addAffAssociation(affiliationResult, AffiliationForm.AffiliationName.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div>
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.affAssociationHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="aff in adminProfileController.affAssociationsData | filter : {affAssociationName : adminProfileController.affAssociation.name} as affiliationResult" ng-include="adminProfileController.getAffAssociationTemplate(aff)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="col-sm-12 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height: 32px">
                    <label>Email Reminders</label>
                </div>
                <div style="clear: both;"></div>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div>
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.remindersHeader">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="reminder in adminProfileController.remindersData">
                                    <td>{{reminder.buyerCompanyName || "My Buyer Company"}}</td>
                                    <td>{{reminder.contractorCompanyName || "My Contractor Company"}}</td>
                                    <td>
                                        <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.sendReminder(reminder)">Send Reminder
                                        </button>
                                    </td>
                                    <td>{{reminder.lastMailDt | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="displayCategory">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>
                <a ng-click="adminProfileController.categoryEdit(category)" class="package-edit-icon"></a>
            </td>
            <td>
                <a ng-click="adminProfileController.categoryDelete(category)" class="package-delete-icon"></a>
            </td>
        </script>
        <script type="text/ng-template" id="editCategory">
            <td>
                <input type="text" class="form-control" ng-model="adminProfileController.categoryToEdit.name" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="adminProfileController.categoryToEdit.description" />
            </td>
            <td>
                <a ng-click="adminProfileController.categorySave(adminProfileController.categoryToEdit)">Save</a>
            </td>
            <td>
                <a ng-click="adminProfileController.categoryCancel(category)">Cancel</a>
            </td>
        </script>
        <script type="text/ng-template" id="displayKeyword">
            <td>{{keyword.keywordName}}</td>
            <td>{{keyword.categoryName}}</td>
            <td>
                <a ng-click="adminProfileController.keywordEdit(keyword)" class="package-edit-icon"></a>
            </td>
            <td>
                <a ng-click="adminProfileController.keywordDelete(keyword)" class="package-delete-icon"></a>
            </td>
        </script>
        <script type="text/ng-template" id="editKeyword">
            <td>
                <input type="text" class="form-control" ng-model="adminProfileController.keywordToEdit.keywordName" />
            </td>
            <td>
                <select class="form-control" ng-model="adminProfileController.keywordToEdit.categoryId" ng-options="categoryOption.id as categoryOption.name for categoryOption in adminProfileController.categoryData">
                </select>
            </td>
            <td>
                <a ng-click="adminProfileController.keywordSave(adminProfileController.keywordToEdit)">Save</a>
            </td>
            <td>
                <a ng-click="adminProfileController.keywordCancel(keyword)">Cancel</a>
            </td>
        </script>
        <script type="text/ng-template" id="displayPackage">
            <td>{{package.name}}</td>
            <td>{{package.days}}</td>
            <td>
                <a class="package-edit-icon" ng-click="adminProfileController.editPackage(package)"></a>
            </td>
            <td>
                <a ng-click="adminProfileController.deletePackage(package)" class="package-delete-icon"></a>
            </td>
        </script>
        <script type="text/ng-template" id="editPackage">
            <td>
                <input type="text" class="form-control" ng-model="adminProfileController.packageToEdit.name">
            </td>
            <td>
                <input type="number" class="form-control" ng-model="adminProfileController.packageToEdit.days">
            </td>
            <td>
                <a ng-click="adminProfileController.savePackage(adminProfileController.packageToEdit)">Save </a>
            </td>
            <td>
                <a ng-click="adminProfileController.cancelPackage(adminProfileController.packageToEdit)">Cancel </a>
            </td>
        </script>
        <script type="text/ng-template" id="editPricing">
            <td>{{pricing.from}}</td>
            <td>{{pricing.to}}</td>
            <td>
                <input type="number" class="form-control" ng-model="adminProfileController.pricingToEdit.price">
            </td>
            <td>
                <a ng-click="adminProfileController.savePrice(adminProfileController.pricingToEdit, $index)">Save </a>
                <a ng-click="adminProfileController.cancelPrice(adminProfileController.pricingToEdit)">Cancel </a>
            </td>
        </script>
        <script type="text/ng-template" id="displayPricing">
            <td>{{pricing.from}}</td>
            <td>{{pricing.to}}</td>
            <td>{{pricing.price | currency:"&#8377;"}}</td>
            <td>
                <a class="package-edit-icon" ng-click="adminProfileController.editPrice(pricing)"></a>
            </td>
        </script>
        <script type="text/ng-template" id="displayFacility">
            <td>{{facility.facilityName}}</td>
            <td>
                <a class="package-edit-icon" ng-click="adminProfileController.editFacilty(facility)"></a>
            </td>
            <td>
                <a ng-click="adminProfileController.deleteFacility(facility)" class="package-delete-icon"></a>
            </td>
        </script>
        <script type="text/ng-template" id="editFacility">
            <td>
                <input type="text" class="form-control" ng-model="adminProfileController.facilityToEdit.facilityName">
            </td>
            <td>
                <a ng-click="adminProfileController.saveFacility(adminProfileController.facilityToEdit)">Save </a>
            </td>
            <td>
                <a ng-click="adminProfileController.cancelFacility(adminProfileController.facilityToEdit)">Cancel </a>
            </td>
        </script>
        <script type="text/ng-template" id="displayAffAssociation">
            <td>{{aff.affAssociationName}}</td>
            <td>
                <a class="package-edit-icon" ng-click="adminProfileController.editAffAssociation(aff)"></a>
            </td>
            <td>
                <a ng-click="adminProfileController.deleteAffAssociation(aff)" class="package-delete-icon"></a>
            </td>
        </script>
        <script type="text/ng-template" id="editAffAssociation">
            <td>
                <input type="text" class="form-control" ng-model="adminProfileController.affAssociationToEdit.affAssociationName">
            </td>
            <td>
                <a ng-click="adminProfileController.saveAffAssociation(adminProfileController.affAssociationToEdit)">Save </a>
            </td>
            <td>
                <a ng-click="adminProfileController.cancelAffAssociation(adminProfileController.affAssociationToEdit)">Cancel </a>
            </td>
        </script>
        <!-- <div class="row" ng-controller="Tab1Controller" class="">
            <!-- <div class="col-sm-8 col-sm-offset-2">
                <ul class="nav nav-pills nav-justified contractoNav">
                    <li ng-class="{ active: isSet(1) }">
                        <a href="#/adminProfile" ng-click="setTab(1)">Create</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href="#/adminProfile" ng-click="setTab(2)">Categorization </a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href="#/adminProfile" ng-click="setTab(3)">User Management</a>
                    </li>
                    <li ng-class="{ active: isSet(4) }">
                        <a href="#/adminProfile" ng-click="setTab(4)">Prising</a>
                    </li>
                </ul>
            </div> -->
        <!-- <div class="col-md-8 col-sm-offset-2 adminprofile"> -->
        <!-- <div ng-show="isSet(1)">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group col-sm-6 padding0" style="line-height:32px">
                                <label>Create New Category</label>
                            </div>
                            <div class="form-group col-sm-6 padding0">
                                <div class="input-group input-groupA margin0">
                                    <input type="text" class="form-control" placeholder="Type a category" aria-describedby="basic-addon2">
                                    <span class="input-group-addon">&#43;</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 padding0 margin0">
                                    <textarea class="form-control" rows="8"></textarea>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        <div class="col-sm-6">
                            <div class="form-group col-sm-6 padding0" style="line-height:32px">
                                <label>Create New Keyword</label>
                            </div>
                            <div style="clear:both"></div>
                            <div class="form-group col-sm-6 pl0 margin0">
                                <div class="input-group input-groupA">
                                    <input type="text" class="form-control" placeholder="Type here" aria-describedby="basic-addon2">
                                    <span class="input-group-addon">&#43;</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 pr0 margin0">
                                <div class="input-group input-groupA">
                                    <select class="form-control">
                                        <option>Select Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 padding0 margin0">
                                <textarea class="form-control" rows="8"></textarea>
                            </div>
                        </div>
                         <div class="col-sm-6 ">
                            <div class="form-group col-sm-12 padding0" style="line-height:32px">
                                <label>Create New Listing Package</label>
                            </div>
                            <div style="clear:both"></div>
                            <div class="form-group col-sm-6 pl0 margin0">
                                <div class="input-group input-groupA">
                                    <input type="text" class="form-control" placeholder="Package Name" aria-describedby="basic-addon2">
                                    <span class="input-group-addon">&#43;</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 margin0">
                                <div class="input-group input-groupA">
                                    <input type="text" class="form-control" placeholder="Add Days" aria-describedby="basic-addon2">
                                    <span class="input-group-addon">&#43;</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 padding0 margin0">
                                    <textarea class="form-control" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                </div> -->
        <!-- <div ng-show="isSet(2)">
                    <div style="clear:both; height:30px;"></div>
                    <div class="col-sm-6">
                        <div class="form-group col-sm-8 padding0" style="line-height:32px">
                            <label>Uncategorised Keyword</label>
                        </div>
                        <div class="form-group col-sm-4 pr0 margin0">
                            <button class="btn">Approve</button>
                        </div>
                        <div class="top-keyword-box" ng-controller="packageSummaryController">
                            <table class="table table-bordered packageSummaryTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Keywork</th>
                                        <th>category</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody> -->
        <!-- 51b821  d8d8d8
                                    <tr image-checkbox ng-style="{'background-color':(isSelected?'#d8d8d8':'')}" ng-repeat = "packag in packageSummary.packages" >
                                        <td> </td>
                                        <td>{{ packag.keyword }}</td>
                                        <td>{{ packag.category }}</td>
                                        <td> <a href="#" class="package-edit-icon"></a> | <a href="#" class="package-delete-icon"></a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                         <div class="form-group col-sm-8 padding0" style="line-height:32px">
                            <label>Uncategorised Keyword</label>
                        </div>
                        <div class="form-group col-sm-4 pr0 margin0">
                            <button class="btn">Approve</button>
                        </div>
                        <div class="top-keyword-box" ng-controller="packageSummaryController">
                            <table class="table table-bordered packageSummaryTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Keywork</th>
                                        <th>category</th>
                                        <th>Rank</th>
                                        <th>Count</th>
                                        <th>Price</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 51b821  d8d8d8 -->
        <!-- <tr image-checkbox ng-style="{'background-color':(isSelected?'#d8d8d8':'')}" ng-repeat = "packag in packageSummary.packages" >
                                        <td> </td>
                                        <td>{{ packag.keyword }}</td>
                                        <td>{{ packag.category }}</td>
                                        <td> <a href="#" class="package-edit-icon"></a> | <a href="#" class="package-delete-icon"></a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->
        <!-- <div ng-show="isSet(3)">
                    <form class="form-horizotal formElement">
                        <div class="form-group col-sm-12">
                            <select class="form-control">
                                <option>Select Keyword </option>
                                <option>Regulatory Bodies</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <select class="form-control" disabled="disabled">
                                <option>Select Package </option>
                                <option> Bodies</option>
                            </select>
                        </div>
                           <div class="form-group col-sm-12" >
                            <select class="form-control" disabled="disabled">
                                <option>Select Days </option>
                                <option> Bodies</option>
                            </select>
                        </div>
                           <div class="form-group col-sm-12" >
                            <select class="form-control" disabled="disabled">
                                <option>Select Location </option>
                                <option> Bodies</option>
                            </select>
                        </div>
                        <div class="form-group text-right">
                            <input class="loginBtn" type="button" value="Submit &nbsp; &#x276f;" disabled="disabled" />
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12 packageDetailsBox">
                            <h5> Package Summary</h5>
                            <div class="col-md-12 padding-tb0">
                                <div class="top-keyword-box" ng-controller="packageSummaryController">
                                    <table class="table table-bordered packageSummaryTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Keywork</th>
                                                <th>Package</th>
                                                <th>Days</th>
                                                <th>Location</th>
                                                <th>< > </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- 51b821  d8d8d8 -->
        <!-- <tr image-checkbox ng-style="{'background-color':(isSelected?'#d8d8d8':'')}" ng-repeat = "packag in packageSummary.packages" >
                                                <td> </td>
                                                <td>{{ packag.package_name }}</td>
                                                <td>{{ packag.package }}</td>
                                                <td>{{ packag.days }}</td>
                                                <td>{{ packag.location }}</td>
                                                <td> <a href="#" class="package-edit-icon"></a> | <a href="#" class="package-delete-icon"></a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        <!-- <div ng-show="isSet(4)">
                </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
