<div class="modal-header modalheader_custom">
    <h3 class="modal-title" id="modal-title">List Buyers</h3>
</div>
<div class="modal-body table_green_styling" id="modal-body">
    <div class="home-pro-ser-modal" style="border: 0;">
    <table class="table table-bordered">

      <thead class="background_lg">
        <tr>
          <th>Buyers Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <input type="text" class="input-sm form-control" placeholder="Search {{type}}.." ng-model="filterText" />
            <label ng-hide="buyersResult.length > 0">No Buyers Available</label>
          </td>
        </tr>
        <tr ng-repeat="buyer in adminProfileController.buyerList | filter: filterText as buyersResult">
          <td>
            {{buyer.companyName || "My Company"}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
    <button class="cancelBtn btn cancel_btn_custom" type="button" ng-click="adminProfileController.modalInstance.dismiss()">Cancel</button>
</div>
