<nav class="navbar navbar-default wrapper foot-div" style="margin:0;" role="navigation" ng-hide="headerController.data.isLoggedIn">
    <div class="container padding-tb10">
        <div class="row text-center">
            <p align="center" class="font18" style="color:#fff; margin-top:12px;">Don't have an account yet? <a align="center" ng-click="headerController.signUp()" style="color:#fff;cursor:pointer;">Register Here</a></p>
        </div>
    </div>
</nav>

<div class="poweredby">
    <div class="poweredby_inner">
        <p class="copy-rigth-txt">&copy; 2017 Outchem - Outsourcing Marketplace.</p><br/>
        <p class="pwd-text">Powered by : <a href="http://larkinfra.com/" target="_blank" style="color: #fff;">Lark Infra</a></p>
    </div>
    <div class="terms-cond">
        <p>
        </p>
    </div>
</div>


<div class="address">
    <div class="add-left-block">
        <!-- <p class="head-txt">Address</p> -->
        <p><strong>AUGMENTUM VENTURES. pvt. ltd</strong>
            <!-- <br> 54, Satra Plaza, sector-19D, <br> Vashi, Navi Mumbai - 400703, --><br> +918779941985 / +918779938494
        </p>
    </div>
    <div class="add-right-block">
        <p class="head-txt">Connect with us</p>
        <a href="https://www.facebook.com/outchem" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/17960863/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="http://www.twitter.com/outchem2017" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#" data-toggle="tooltip" title="+91-8779938494"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    </div>
</div>


<div class="poweredby">

    <div class="terms-cond">
        <p>
            <a ng-click="headerController.trmCondPopUp()">"Terms of Use"</a> &amp;
            <a ng-click="headerController.privacyPolPopUp()">"Privacy Policy"</a>
        </p>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>