﻿@charset "utf-8";

/* Import Google Font */

@import url('https://fonts.googleapis.com/css?family=Questrial');
body {
    font-family: 'Questrial', sans-serif;
    color: #9d9d9d;
    background-image: url('../images/bg-pattern.png');
}

html,
body {
    height: 100%;
    margin: 0;
}

h3 {
    font-size: 22px;
    font-family: 'Questrial', sans-serif;
}


/* [role=button] {cursor: inherit !important;} */

:focus {
    border: 0;
    outline: 0;
}

a {
    color: #454545
}

a:hover,
a:focus {
    text-decoration: none;
    color: #255b1b;
}

.noborder {
    border: none;
}

.container {}

.main-container {
    padding: 95px 0 30px;
}

.topPara {
    margin: 0;
    padding: 8% 0;
    min-height: 100%;
    height: 100%;
}

html>body .topPara {
    height: auto;
}

.slider-blocks {
    min-height: 185px;
    margin: 0 0 25px;
    padding: 0 0 25px;
}

.hm-ser-block h2 {
    font-size: 30px!important;
    margin: 50px 0 30px !important;
}

.hm-ser-block {
    min-height: 80px;
}

.slider-blocks p {
    text-align: center !important;
    max-width: 300px;
    margin: 0 auto 15px;
}

.wrapperHead {
    padding: 8px 0px;
    background: #255b1b;
    color: #ffffff;
    border-radius: 0px;
    border: 0;
}

.wrapper {
    background: #255b1b;
}

.wrapperContent {
    width: 100%;
}

.padding-tb10 {
    padding: 10px 0px;
}

.padding-tb20 {
    padding: 20px 0px;
}

.padding-tb50 {
    padding: 2% 0%;
}

.padding-tb50 {
    padding: -3%;
}

.padding-lr10 {
    padding: 5px 10px;
}

.font18 {
    font-size: 18px;
}

.greyBackground {
    background: #eeeeee;
}

.whiteBackground {
    background: #fff
}

.padding-tb5 {
    padding: 5px;
}

.padding-tb0 {
    padding: 0px;
}

.padding0 {
    padding-right: 0px!important;
    padding-left: 0px!important
}

.marginRight-0 {
    margin-right: 0px!important;
}

.margin0 {
    margin-left: 0px!important;
    margin-right: 0px!important
}

.loginBtn {
    display: inline-block;
    padding: 3px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #51b821;
    border: none;
    border-radius: 8px;
    /* box-shadow: 0 5px #397f18; */
}

.btn {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-bottom: 3px solid #51b821;
    border-radius: 5px;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#buyr {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-bottom: 3px solid #51b821;
    border-radius: 5px;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.logo img {
    display: block;
    max-width: 100%;
}

.loginBtn:hover {
    background-color: #69c140;
}

.loginBtn:active {
    background-color: #51b821;
    box-shadow: 0 2px #397f18;
    transform: translateY(4px);
}

.border-left {
    border-style: solid;
    border-left: solid 4px #51b821;
}

.tabs-block {
    margin: 20px 0;
}

.buyerProfile ul li {
    float: left;
    list-style: none;
}

.buyerProfile {
    max-width: 650px;
    margin: 0 auto!important;
    min-height: 290px;
}

.profile-block {
    padding: 20px 0 50px;
}

.profile-block .profileimg {
    width: 130px;
    height: 130px;
    display: block;
    border: 8px solid #63bf38;
    float: right;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.profile-block .profileimg img {
    max-width: 100%;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.profile-block .profileimg label {
    width: 130px;
    height: 115px;
    display: block;
    padding: 45px 0;
    margin: 0;
    line-height: 20px;
    text-indent: -99999px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-block .profileimg label:after {
    content: "\f040";
    position: absolute;
    bottom: 5px;
    right: -5px;
    top: auto;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'FontAwesome';
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    text-indent: 0;
    color: #63bf38;
    border: 1px solid #63bf38;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.profile-block .flag {
    width: 16px;
    height: auto;
    margin-right: 10px;
    line-height: 16px;
    float: left;
}

.profile-block .ng-binding {
    color: #454545;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.profile-block .country-txt {
    line-height: 16px;
}

.profile-block h3 .ng-binding {
    color: #454545;
    font-size: 22px;
    font-weight: bold;
}

.img-circle {
    max-width: 180px;
}

.profile-block .edit-icon {
    display: none;
}

.profile-block ul li:hover .edit-icon {
    display: inline-block;
    cursor: pointer;
    color: #69c140;
    font-size: 16px;
    line-height: 16px;
    margin: 0 2px;
}

.contractorProfile {
    max-width: 700px;
}

.buyerProfile .formElement {
    padding: 30px;
}

.buyerProfile .nav-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.buyerProfile .nav-tabs li {
    width: 34%;
}

.buyerProfile .nav-tabs li a {
    text-align: center;
}

.buyerProfile .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #69c140;
}

.editBtn {
    padding-left: 10px;
}

input[name='radio']+span {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: 31px;
}

input[name='radio']:checked+span {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: green;
}

input[name='radio'] {
    display: none;
}

input[name='radio']+span:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid lightgray;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
}

input[name='radio']:checked+span:before {
    border: 3px solid #51b821;
    box-shadow: 0 0 2px #51b821;
    background: radial-gradient(#51b821, #fff, #51b821);
}

input[name='chk']+span {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

input[name='chk']:checked+span {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

input[name='chk'] {
    display: none;
}

input[name='chk']+span:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid lightgray;
    border-bottom: 3px solid #51b821;
    margin-right: 5px;
    margin-bottom: -2px;
    cursor: pointer;
}

input[name='chk']:checked+span:before {
    content: '✔';
    color: #51b821;
    text-align: center;
    line-height: 15px;
}

.btn1 {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    height: 35px;
    border-radius: 5px;
    padding: 2px 3px;
    width: 100px;
    font-size: 5px;
    text-align: center;
    display: inline-block;
}

.clear0 {
    clear: both;
}

.intro-block .intro {
    text-align: center;
    color: #454545;
    border-left: 2px solid #51B821;
    border-right: 2px solid #51B821;
    margin-bottom: 30px!important;
    max-width: 480px;
    margin: 0 auto
}

.intro-block .intro h1 {
    font-size: 44px!important;
    margin-bottom: 0px;
    /*font-family: 'latoregular' */
}

.intro-block .intro h2 {
    font-size: 44px!important;
    font-weight: bold;
    margin-top: 0px;
    /*font-family: 'century_gothicregular';*/
}

.intro-block p {
    max-width: 600px;
    font-size: 18px;
    color: #454545;
    text-align: center;
    margin: 0px auto;
    font-style: 'century_gothicregular'
}

.intro-block p span {
    color: #51B821;
}

.intro-block hr {
    max-width: 480px;
    margin: 0 auto;
    border-top: 2px solid #51B821!important;
    border: none;
    margin-top: 30px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
}


/* 
.logo{
    align:center; padding-left:-100px; 
    padding-right:-40%;
    max-width:333px;
    width: 100%;
} */

.search-div {
    margin: 150px auto 100px;
}

.search-div .input-group {
    max-width: 450px;
    margin: 0 auto
}

.search-div .input-group .btn {
    height: 50px;
    border: 0px solid #ccc;
    background: #51b821;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /* position: absolute;*/
}

.search-div .input-group .form-control:last-child,
.search-div .input-group-addon:last-child,
.search-div .input-group-btn:last-child>.btn,
.search-div .input-group-btn:last-child>.btn-group>.btn {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-div .input-group .form-control:first-child {
    height: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.search-div .input-group .form-control {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/search-icon-2.png');
    background-position: 5px 10px;
    background-repeat: no-repeat;
    padding: 6px 12px 6px 35px;
}

.carausolHome {
    margin: 100px 0px;
}

.carausolHome .filcolor {
    background: #51B821;
    height: auto;
    padding: 35px 0px;
    text-align: center;
    color: #ffffff
}

.carausolHome .filcolor img {
    width: 50px;
}

.carausolHome h2 {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}

.carausolHome p {
    text-align: justify;
}

.carausolHome .item img {
    width: 50px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.carausolHome h1 {
    font-size: 22px;
    text-align: center;
}

.productCalausol,
.regulatoryCalausol {
    margin-top: 30px;
}

.regulatoryCalausol .filcolor {
    padding: 234px 0;
}

.carousel-indicators li {
    border: 1px solid #51B821;
}

.carousel-indicators {
    bottom: -20px;
}

.carousel-indicators .active {
    background: #51B821
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 1px solid #ddd;
    border-top: 0px transparent;
    border-bottom: 3px solid #2db50c;
}

@media screen and (max-width: 480px) {
    .topPara .intro h1 {
        font-size: 31px!important;
    }
    .topPara .intro h2 {
        font-size: 31px!important;
    }
    .topPara p {
        font-size: 14px;
    }
    .contact-inside {
        padding: 0% 2%;
    }
    .contactdiv h2 {
        margin-top: 5px!important;
        font-size: 38px!important;
    }
    .contactdiv ul li {
        font-size: 35px;
    }
    .contactdiv {
        height: 600px;
    }
}

.company-review-box {
    margin: 15px;
}

.company-review-box h2 {
    background: #51b821;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px 2px 0px 0px;
    text-transform: uppercase;
    margin: 0px
}

.company-list-section {
    margin: 0px;
    background: #fff;
    display: inline-block;
    padding: 0px;
    width: 100%;
}

.company-list-section li {
    display: flex;
    list-style: outside none none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.company-section-box h3 {
    margin: 0px;
    font-size: 13px;
    color: #9d9d9d;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 5px
}

.company-section-box h3 span {
    color: #51b821;
    font-size: 12px;
    font-weight: normal;
    padding-left: 15px;
}

.company-section-box p {
    font-size: 12px;
    color: #9d9d9d
}

.company-section-box a {
    color: #51b821;
    float: right;
    font-size: 9px;
    padding-right: 15px;
    text-decoration: none;
}

.social-media-icon ul {}

.social-media-icon li {
    list-style: none;
    float: left;
    width: 50px;
    padding-right: 10px;
}

.social-media-icon li img {
    width: 100%;
}

.footer-chat-icon img {
    width: 12%
}

.footer-wrapper {
    background-color: #f5f5f5;
    color: #454545;
    padding: 15px 0px;
}

.company-slider {}

.company-package-slider-left img {
    left: -3%;
    position: absolute;
    top: 37%;
}

.company-package-slider-right {
    right: -3%;
    position: absolute;
    top: 37%;
}


/*.top-keyword-box*/

.formElement {
    padding: 30px 60px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #ffffff;
    color: #51b821;
    border-bottom: 2px solid #51b821;
    border-radius: 0px;
}

.contractoNav li a {
    border-bottom: 1px solid #eeeeee;
    border-radius: 0px;
    font-size: 18px;
    margin-top: 30px;
}

.contractoNav li:nth-child(2) a {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee
}

.categoriesDetail {
    margin-top: 30px;
}

.categoriesDetail label {
    line-height: 27px;
    color: #555555;
}

.fullWidthImg {
    width: 100%!important;
    height: auto;
}

.howitworksaboutus {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    width: 266px;
}

.howitworksaboutus span {
    float: left;
}

.howitworks {
    text-align: center;
    color: #ffffff;
    float: left;
    display: inline-block;
    width: 116px;
}

.howitworks a {
    color: #ffffff;
    isplay: inline-block;
}

.howitworksimg {
    padding-bottom: 15px;
    width: 98%;
    margin: 0 auto;
}

.howitworksimg img {
    width: 100%;
}

.progress-bar canvas {
    height: 11px;
}

.input-groupA {
    margin-right: -16px;
}

.input-groupA .input-group-addon {
    background: transparent;
    color: #51b821;
    font-size: 19px;
    font-weight: bold;
}

.input-groupA input {
    border-right: none;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 0px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}

.file-upload-input {
    width: 100%;
    color: #9d9d9d;
    font-size: 16px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: $file-upload-color;
    @include transition(all 0.2s ease-in);
    float: left;
    /* IE 9 Fix */
    &:hover,
    &:focus {
        background-color: darken($file-upload-color, 5);
        outline: none;
    }
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #51b821;
    font-size: 30px;
    text-transform: uppercase;
    padding: 3px 8px;
    font-weight: bold;
    border: none;
    margin-left: -1px;
    background-color: transparent;
    float: right;
    /* IE 9 Fix */
    position: absolute;
    right: 0;
    top: -8px;
    @include transition(all 0.2s ease-in);
    &:hover {
        background-color: darken($file-upload-color, 20);
    }
}

.loginLink {
    color: #ffffff;
    margin-top: 15px;
}

.loginLink a {
    color: #ffffff!important;
    margin: 0px 10px;
    font-size: 14px;
}

.input-groupA .input-group-addon {
    background: #fff;
    color: #51b821;
    font-size: 19px;
    font-weight: bold;
}

.input-groupA input {
    border-right: none;
}

.packageDetailsBox h5 {
    color: #51b821;
    font-size: 20px;
    font-weight: bold;
}

.packageSummaryTable,
.home-pro-ser-modal {
    border: 1px solid #acacac
}

.packageSummaryTable thead,
.home-pro-ser-modal thead {
    background-color: #454545;
    color: #fff;
    font-size: 12px;
}

.packageSummaryTable tbody,
.home-pro-ser-modal tbody {
    background-color: #f5f5f5;
    color: #454545;
    font-size: 12px;
}

.package-edit-icon {
    background-image: url('../images/edit2.png');
    display: block;
    width: 20px;
    height: 20px
}

.package-delete-icon {
    background-image: url('../images/delete2.png');
    display: block;
    width: 16px;
    height: 20px
}

.company-package-title h2 {
    color: #454545;
    text-align: center;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
}

.user-management-box h2 {
    background: #454545;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 15px
}

.user-management-box .pagination {
    background: #51b821;
    padding: 15px;
    width: 100%;
}

.user-management-box .pagination>li>a,
.user-management-box .pagination>li>span {
    background: #51b821;
    color: #ffffff;
    border: none;
}

.user-management-box .pagination ul {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.user-management-box ul li {
    display: inline;
    padding: 15px;
}

.dashprof {
    background: #f5f5f5;
}

.dashprof a {
    color: #51b821;
    font-size: 18px;
    font-weight: bold;
}

.homeContactSection {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.homeContactSection h1 {
    font-size: 30px;
    text-align: center;
}

.tilesFour {
    margin-top: 40px;
    margin-bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 865px;
    float: none;
    margin: 0 auto;
}

.tilesFour:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
}

.tilesFour .col-sm-3 {
    background-color: rgba(81, 184, 33, 0.4);
    border: 1px solid #f5f5f5;
    padding: 10px 0px;
    margin: 0px 0 80px 0;
    min-height: 150px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    /* background-color: rgba(255, 255, 255,0.6);  border: 1px solid #255B1B;*/
}

.tilesFour img {
    max-width: 35px;
}

.tilesFour h1 {
    font-size: 36px!important;
    font-weight: bold;
}

.tilesFour h2 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    /*color:#f9fb26;  color:#4aae1b;*/
    padding: 0;
    margin: 0;
}

.tilesFour {
    color: #ffffff
}

.tilesFour .col-sm-6:hover {
    background: #255b1b
}

.tilesFour i {
    height: 70px;
    width: 70px;
    display: inline-block;
    padding: 14px 10px 10px;
    margin: -50px 0 0 0;
    background-color: #4aae1b;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px double #44a716;
    font-size: 38px;
    /* background-color:rgba(68, 167, 22, 0.4); */
}

.dashNav {
    background: #69c140;
    border: 1px solid #69c140
}

.adminprofile {
    margin: 30px auto;
    max-width: 980px
}

.category {
    margin: 0 auto;
    max-width: 50%;
}

.tabsAdmin {
    max-width: 980px;
    margin: 15px auto
}

.adminprofile .formElement {
    max-width: 700px;
    margin: 0 auto
}

.rightTick {
    position: absolute;
    right: -6px;
    top: 7px;
}

.propic {
    list-style: none;
    margin-top: 13px;
}

.propic .dropdown-toggle {
    color: #ffffff
}

table tr td a {
    float: left;
    margin-left: 10px;
}

.modal-header {
    border-bottom: 0px !important
}


/*.modal-body{border-bottom: 0px !important}*/

.dropdown-menu {
    left: 100px;
}

.contractorProfileBox img {
    display: block;
    float: right;
    height: 20px;
    position: absolute;
    right: -15px;
    top: 6px
}

.carousel-control {
    display: none;
}

.widthModal {
    max-width: 580px;
    margin: 0 auto
}

.modal-dialog,
.modal-lg {
    max-width: 580px;
    margin: 0 auto
}

.loginStyle {
    position: absolute;
    color: #ffffff;
    right: 74px;
    top: 30px;
    z-index: 9;
}

.loginStyle:hover {
    color: #ffffff
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.noResult {
    max-width: 300px;
    margin: 0 auto;
    display: none;
}

.pr0 {
    padding-right: 0px!important
}

.sign_up .btn img {
    width: 70%
}

.sign_up .btn {
    border-bottom: 1px solid lightgray;
    margin-bottom: 40px;
    width: 150px;
    min-height: 90px;
    text-align: center;
}

.sign_up a {
    color: #51b821;
    font-weight: bold;
    font-size: 18px
}

.btn-cancel {
    border-bottom: 3px solid #a94442
}


/*comment out afterwards*/

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background: #51b821
}


/*Style for the first level menu bar*/

ul#menu {
    position: absolute;
    top: 5px;
    width: 105%;
    height: 3em;
    margin: 0;
    padding: 0 10px;
    background: transparent;
    color: #eee;
    box-shadow: none;
}

ul#menu>li {
    float: right;
    list-style-type: none;
    position: relative;
}

label.login-arrow {
    position: relative;
    display: block;
    padding: 0 18px 0 12px;
    line-height: 2em;
    transition: background 0.3s;
    cursor: pointer;
    text-transform: capitalize;
}

label.login-arrow:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid rgba(255, 255, 255, .5);
    border-bottom: 0 solid rgba(255, 255, 255, .5);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: border-bottom .1s, border-top .1s .1s;
}


/* label:hover,
input#check01:checked ~ label{background:rgba(0,0,0,.3);} */

input#check01:checked~label.login-arrow:after {
    border-top: 0 solid rgba(255, 255, 255, .5);
    border-bottom: 4px solid rgba(255, 255, 255, .5);
    transition: border-top .1s, border-bottom .1s .1s;
}


/*hide the inputs*/

input#check01 {
    display: none
}


/*show the second levele menu of the selected voice*/

input#check01:checked~ul.submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
}


/*style for the second level menu*/

ul.submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #255b1b;
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 100%;
}

ul.submenu li a {
    display: block;
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    box-shadow: 0 -1px rgb(51, 115, 40) inset;
    transition: background .3s;
    white-space: nowrap;
    text-align: left;
}

ul.submenu li a:hover {
    background: rgba(0, 0, 0, .3);
}

.introwrap {
    padding: 0px 0px 0 0px;
    width: 100%;
    float: none;
    display: table;
    position: relative;
}

.introbox {
    width: 100%;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}


/****Sandy****/

.ng-isolate-scope li.uib-tab a {
    border-right: 1px solid #ddd;
}

.ng-isolate-scope .nav-tabs>li>a {
    margin-right: 0;
}

.form-control,
.ng-isolate-scope .nav-tabs>li>a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-group .fa {
    display: block;
    color: #51b821
}

.input-group-addon {
    background: #fff;
}

.form-group {
    margin-bottom: 10px;
}

.contra-det ul {
    margin: 0;
    padding: 0;
}

.contra-det ul li {
    margin: 0 0 10px;
    padding: 0;
    display: inline-block;
    width: 100%;
    min-height: 30px;
}

.contra-det h3 {
    margin: 0;
}

.contra-det .form-group {
    margin: 0;
}


/* .contra-det p{margin: 0 0 13px;} */

.progress-bar .ng-binding {
    color: #fff;
}

.contra-det .form-group input {
    height: 28px;
    padding: 3px 6px;
}

.profile-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border: 2px #fff solid;
    display: block;
}

.profilePic {
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    max-width: 180px;
    padding: 0;
    margin: 0;
    min-height: 180px;
    max-height: 180px;
    overflow: hidden;
}

.pro-upload {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 15px;
    padding: 0;
    color: #51b821;
    text-align: center;
    width: 100%;
    max-width: 180px;
    min-height: 180px;
    border: 11px solid #51b821;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.pro-upload span {
    margin-top: 90px;
    display: block;
    position: absolute;
    bottom: -35px;
    width: 160px;
    left: 0;
}

.no-not-verified {
    color: #ff0000;
    display: inline;
    float: left;
    font-size: 12px;
    line-height: 24px !important;
}

.no-not-verified i {
    color: #ff0000!important;
    display: inline !important;
    font-size: 12px;
    line-height: 24px !important;
}

.no-verified {
    color: #00de13;
    display: inline !important;
    float: left;
    font-size: 12px;
    line-height: 20px !important;
    border: 1px solid #00de13;
    padding: 3px;
}

.no-verified i {
    color: #00de13!important;
    display: inline!important;
    font-size: 12px;
    line-height: 24px !important;
}

.verifybtn {
    cursor: pointer;
    padding: 3px;
    color: #51b821;
    border: 1px solid #51b821;
    margin-left: 10px;
    top: 2px;
    position: relative;
}

.send-btn {
    cursor: pointer;
    padding: 2px 10px;
    color: #fff;
    background-color: #51b821;
    display: block;
}

.dafault-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #51b821!important;
    color: #fff!important;
    padding: 3px 5px!important;
    text-decoration: none !important;
    display: block;
}

.dafault-btn:hover {
    background-color: #69c140!important;
}

.phone-edit .edit-icon {
    position: absolute;
    left: 134px;
    padding: 5px
}

.phone-txt {
    margin-right: 26px;
    float: left;
    padding: 3px 20px 3px 0px;
}

.form-title {
    font-size: 18px;
    color: #51b821;
    line-height: 32px
}

.added-keywords {
    border: 1px solid #ccc;
    height: 80px;
    max-height: 80px;
    overflow-y: auto;
    margin: 10px 0 0;
    padding: 0 5px 5px;
    background-color: #fff;
}

.keyword {
    border: 1px solid #ccc;
    padding: 3px 10px;
    display: inline-block;
    width: auto;
    margin: 5px 5px 0 0;
    background-color: #f3f3f3;
}

.keyword p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.keyword .fa {
    display: inline-block;
    margin: 0 0 0 10px;
}

.tabs-block .radio input {
    width: auto !important;
    margin: -7px 0 0 -20px;
}

.certi-block {
    border: 1px solid #ccc;
    overflow: auto;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 135px;
}

.cert-icons {
    border: 1px solid #255b1b;
    padding: 10px;
    margin: 0 8px 10px 0;
    display: inline-block;
    width: auto;
    float: left;
    position: relative;
}

.cert-icons img {
    max-width: 75px;
    /* margin: 0 10px 0 0; */
    display: inline-block;
    float: left;
}

.cert-icons input {
    margin-top: 30px
}

.multi-choose .dropdown-menu li:first-child {
    width: 100%;
}

.multi-choose .dropdown-menu li .fa {
    float: right;
}

.multi-choose .dropdown-menu {
    left: 0;
}

.second-form .form-group {
    margin-bottom: 20px;
}

.top-keyword-box {
    max-height: 138px;
    overflow-y: auto;
}

.poweredby,
.address {
    padding: 2px 25px;
    padding-top: 9px;
    background-color: #1d4016;
    display: inline-block;
    width: 100%;
    float: left;
}

.address {
    padding: 15px 25px;
    border-bottom: 1px solid #337328;
    margin: 0 0;
    width: 100%;
}

.address .head-txt {
    font-size: 18px;
    font-weight: bold;
}

.add-left-block,
.add-right-block {
    width: 45%;
    display: inline-block;
    float: left;
}

.add-right-block {
    margin-left: 20px;
}

.address .fa {
    font-size: 30px;
    float: left;
    margin-right: 20px;
    color: #fff;
}

.address .fa:hover {
    color: #255b1b;
}

.address p {
    color: #fff;
    font-size: 14px;
}

.foot-div {
    border-radius: 0;
    border: 0;
}

.terms-cond {
    margin: 0 auto;
    width: 220px;
    color: #fff;
}

.terms-cond a {
    color: #fff;
}

.pwd-text {
    float: right;
    color: #fff;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: -21px;
}

.copy-rigth-txt {
    float: left;
    color: #fff;
    width: auto;
    margin: 0;
    padding: 0;
}

.pwd-text:hover {
    color: #a0c799;
}

.otp-block {
    max-width: 130px;
    position: relative;
    float: left;
    margin-left: 10px;
}

.otp-block .fa {
    position: absolute;
    color: #51b821;
    cursor: pointer;
}

.otp-block .fa.fa-sign-in {
    position: absolute;
    top: 5px;
    right: 10px;
}

.otp-block .fa.fa-refresh {
    position: absolute;
    top: 5px;
    right: 30px;
}

.otp-block input {
    max-width: 130px;
    height: 24px;
    padding: 2px 5px;
}

.pwd-input {
    position: relative;
}

.pwd-input .fa {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #255b1b;
    font-size: 20px;
}

.home-certi-logos {
    display: inline-block;
}

.home-certi-logos ul {
    list-type: none;
    margin-right: -10px;
}

.home-certi-logos ul li {
    display: inline-block;
    float: left;
    margin: 0px 10px 12px 0;
}

label.chkd-cert-logo {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    float: left;
    margin: 0;
}

.chkd-cert-logo:hover:after,
label.chkd-cert-logo.logo-chkd:after {
    content: "\f00c";
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    font: normal normal normal 24px/1 FontAwesome;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 2.5;
    color: #51b821;
    border: 1px solid #51b821;
}

.sign_up .fa {
    font-size: 50px;
    color: #9a9c9f;
    margin-bottom: 15px;
}

.sign_up .fa:hover {
    color: #51b821;
}


/*hide the inputs*/

input.certlogo {
    display: none
}

.video-holder {
    width: 98%;
    margin: 25px auto 25px;
    display: block;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loggedin-block,
md-menu {
    position: relative;
}

.pro-ddown {}

.pro-ddown-list {
    position: absolute;
    top: 54px;
    right: 0 !important;
    width: 105%;
    margin: 0;
    padding: 0 10px;
    background: transparent;
    color: #eee;
    box-shadow: none;
}

md-menu-item {
    list-style-type: none;
    background: #255b1b;
}

md-menu-item>.md-button {
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    box-shadow: 0 -1px rgb(51, 115, 40) inset;
    transition: background .3s;
    white-space: nowrap;
    text-align: left;
    line-height: 1;
}

md-menu-item>.md-button :hover {
    background: rgba(0, 0, 0, .3);
}

md-menu-content.md-default-theme,
md-menu-content {
    padding: 0;
    background-color: transparent;
}

label.login-arrow:hover,
.md-button:hover,
.md-button:focus {
    background-color: transparent !important;
}

.modal.in .modal-dialog {
    top: 30px;
}

.hvr-grow:hover {
    -webkit-transform: scale(1.02) !important;
    transform: scale(1.02) !important;
}

.home-pro-ser-modal {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    height: 100%;
}


/****Sandy****/

.no-padding {
    padding: 0!important;
}

.no-margin {
    margin: 0!important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#content {
    margin: 50px auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.darkbg {
    background-color: #eeeeee;
    padding: 30px 45px;
    min-height: 350px;
}

.box {
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: 355px;
    padding: 20px;
    margin: 15px 0;
    overflow: hidden;
}

.techspec,
.affil-block,
.certi-contro-view {
    min-height: 150px;
}

.trns-pack-block,
.facility-block {
    min-height: 350px;
}

.techspec p {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    background: #fbfbfb;
    border: 1px solid #ccc;
    padding: 10px 20px;
    color: black;
    font-size: 17px;
    text-align: center;
}

.trns-pack-block {}

.trns-pack-block h2,
.min-max-cap h2 {
    text-align: center;
    padding: 10px;
    width: 120px;
    display: block;
    margin: 0 auto 40px;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.trns-pack-block h2.trns-yes,
.trns-pack-block h2.truk-yes,
.min-max-cap h2 {
    background-color: #255b1b;
}

.trns-pack-block h2.trns-no,
.trns-pack-block h2.truk-no {
    background-color: #a01b1b;
}

.affil-block {}

.affil-content,
.facility-block {}

.affil-content li,
.facility-content li {
    font-size: 18px;
}

.certi-contoview-icons li {
    float: left;
    margin: 0 25px 15px 0;
    display: inline-block;
}

.title {
    text-align: center;
}

.title h3 {
    display: inline-block;
    color: #51b821;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    border-bottom: 1px solid #51b821;
    margin: 0 0 15px;
    padding: 0 10px 5px 0px;
}

.title h3.dark {
    color: #454545;
    padding: 0 5px 5px;
}

.title span {
    display: inline-block;
    width: 40px;
}

.midbox {}

.comp-info {
    padding: 20px 20px;
    text-align: center;
    font-size: 17px;
    line-height: 22px;
}

.comp-info h2 {
    padding: 15px 0 20px 0;
    color: #51b821;
}

.comp-info p {
    padding: 10px 0 4px;
}

.comp-title h4 {
    color: #51b821;
    margin: 0 0 5px;
}

.author {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 15px 0;
    text-align: center;
}

.author:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
}

.comp-title {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.comp-title h4 .comp-rating {
    padding-top: 5px;
    display: block;
}

.comp-logo {
    display: none;
    width: 150px;
    padding: 0 10px;
    text-align: center;
}

.comp-logo img {
    text-align: center;
    max-width: 150px;
    width: auto;
}

.comp-logo-default {
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    text-align: center;
    font-size: 50px;
}

.viewPro .comp-logo-default {
    display: block;
    float: left;
}

.viewPro .comp-title {
    display: block;
    float: left;
}

.viewPro .comp-logo-default i {
    font-size: 75px;
}

.viewPro .rate-block {
    clear: inherit;
}

.viewPro .comp-info h2 {
    margin: 0;
}

.comp-add {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    background-color: #454545;
    padding: 15px;
    text-align: center;
}

.probox {
    list-style-type: none;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0;
    max-height: 285px;
    overflow-x: auto;
}

.probox li {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 0;
    margin: 0;
}

.prowrap .slick-dots {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -20%;
}

.bodies {
    list-style-type: none;
    text-align: center;
    padding: 30px 0 10px 0;
    margin: 0;
    text-align: center;
}

.bodies .slick-dots {
    position: absolute;
    top: -45px;
    right: 20px;
}

.bodies .slick-dots li {
    display: inline-block;
}

.bodies img {
    margin: 0 auto;
}

.associations ul {
    list-style-type: none;
    text-align: center;
    padding: 0 0 0 0;
    margin: 20px 0 10px;
}

.associations ul li {
    font-family: 'CenturyGothic-Italic';
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    padding: 5px 0;
    margin: 0;
}

.associations ul.float-left {
    padding: 0 0 0 21px;
    border-left: 1px solid #51b821;
}

.associations .slick-dots {
    position: absolute;
    top: -45px;
    right: 20px;
}

.associations .slick-dots li {
    display: inline-block;
    padding: 10px;
}

.review-wrap {
    background-color: #454545;
    color: #fff;
    padding: 25px 35px;
}

.review-wrap h3 {
    text-align: center;
    color: #fff;
}

.review {
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.review:last-child {
    margin-bottom: 0;
}

.review:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
}

.review .review-tx {
    display: inline-block;
    float: right;
    width: 91%;
    padding: 0;
}

.review .review-tx h4 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.review .review-txbox {
    display: block;
    background-color: #fff;
    color: #9d9d9d;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    padding: 15px 45px 8px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.review .review-txbox:after {
    content: '';
    width: 27px;
    height: 36px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -23px;
    background-image: url("../images/txbox-con.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.review .review-pic {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 85px;
    height: 85px;
    background-color: #fff;
    padding: 3px;
    margin: 0 0 0 0;
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.review .review-pic img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.pro-rating {
    float: right;
}

.review:nth-child(even) .review-tx h4 {
    text-align: right;
}

.review:nth-child(even) .review-pic {
    left: inherit;
    right: 0;
}

.review:nth-child(even) .review-tx {
    float: left;
}

.review:nth-child(even) .review-txbox:after {
    left: inherit;
    right: -24px;
    background-position: -26px 0;
}

.review:nth-child(even) .pro-rating {
    float: left;
}

.reviewslide .slick-dots {
    position: absolute;
    top: -45px;
    right: 20px;
}

.reviewslide .slick-dots li {
    display: inline-block;
    padding: 10px;
}

#content {
    min-height: 500px;
}

.search-page h3 {
    color: #454545;
    padding: 0 5px 5px;
    text-align: center;
    font-weight: bold;
}

.search-page .darkbg {
    padding: 20px;
}


/* .searchbar{ padding:0 0 50px 0;} */

.inner-search {
    background-color: #51b821 !important;
}

.inner-search .fa {
    text-shadow: none;
    color: #fff;
}

.searchbar .form-control,
.searchbar .btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #a3a3a3;
}

.searchbar .btn {
    background-color: #ccc;
    padding: 6px 12px 6px;
}

.searchbar .btn .glyphicon {
    color: #fff;
    font-size: 16px;
}

.search-result {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-rec-found {
    text-align: center;
    color: #000;
    font-size: 16px;
}

.no-rec-found i {
    font-size: 20px;
    margin: 0px 20px 0 0;
}

.search-result:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
}

.search-result li {
    width: 50%;
    float: left;
    padding: 10px;
    position: relative;
    max-height: 225px;
    margin: 0 0 20px 0;
}

.search-result li:hover .result-wrap {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6)
}

.search-result li i.view {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 28px;
    height: 22px;
    background-image: url(../images/i-eye.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.search-result li.view-active i.view {
    background-position: 0 -22px;
}

.result-wrap {
    display: table;
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 225px;
}

.result-left {
    display: table-cell;
    width: 28%;
    padding: 10px;
    margin: 0;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    vertical-align: middle;
}

.result-right {
    display: table-cell;
    width: 72%;
    padding: 20px;
    margin: 0;
    vertical-align: middle;
    max-width: 1em;
    word-wrap: break-word;
}

.result-right p {
    max-height: 4em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result h4 {
    font-size: 18px;
    color: #454545;
    font-weight: bold;
    padding: 0 0 5px 0;
    margin: 0;
}

.search-result h5 {
    font-size: 15px;
    color: #454545;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    position: relative;
}

.search-result h5:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 152px;
    height: 2px;
    background-color: #8bd06b;
}

.search-result .comp-title {
    text-align: center;
    font-size: 20px;
}

.search-result .comp-loc {
    padding: 0;
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 1;
}

.search-result .comp-loc span {
    text-align: left;
    font-size: 14px;
    display: inline-block;
    width: 72%;
}

.search-result .comp-loc i,
.searchpaidusers_loc i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 2px 5px 5px 0;
    border: 1px solid #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
    float: left;
}

.search-result .comp-loc i img,
.searchpaidusers_loc i img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.search-result .fl-ind,
.searchpaidusers_loc .fl-ind {
    background-image: url(../images/flag-ind.jpg);
    background-size: 100%;
}

.rate-block {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    clear: both;
}

.rate-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rate-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}


/** Search Page **/

.searchpaidusers_main {
    margin-bottom: 30px;
    background-color: #eeeeee;
    padding: 15px;
    clear: both;
    box-sizing: border-box;
    /* background:url(../images/gold.jpg) top left repeat;background-size:cover; */
}

.searchpaidusers_ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.searchpaidusers_ul li {
    width: 20%;
    float: left;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    max-height: 16em;
}

.searchpaidusers_ul li .searchpaidusers_wrapper:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 196, 98, 0.6);
}

.searchpaidusers_wrapper {
    background-color: #fff;
    border: 2px solid #8bd06b;
    padding: 5px;
}

.searchpaidusers_top {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.searchpaidusers_bottom {
    width: 100%;
    max-width: 1em;
    padding: 10px 0px;
}

.searchpaidusers_pp {
    width: 100%;
    text-align: center;
}

.searchpaidusers_pp img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px;
    width: 80px;
}

.searchpaidusers_address h4 {
    color: #51b821;
    text-align: center;
    padding: 5px 0px;
}

.searchpaidusers_loc {
    text-align: center;
}

.searchpaidusers_bottom h5 {
    font-size: 15px;
    color: #454545;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding: 5px 0px;
    border-bottom: 2px solid #8bd06b;
    display: inline-block;
}

.searchpaidusers_bottom p {
    max-height: 4em;
    max-width: 1em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search_unpaidusers_main {
    margin-bottom: 30px;
    background-color: #eeeeee;
    padding: 15px;
    clear: both;
}

.search_unpaidusers_main li {
    padding: 5px;
    max-height: 16em;
}

.search_unpaidusers_wrapper {
    border: 2px solid #ff8000;
    background-color: #fff;
}

.search_unpaidusers_ul li .search_unpaidusers_wrapper:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 128, 0, 0.6);
}


/***RUJUTA START***/

a {
    cursor: pointer;
}

button:focus,
label:focus {
    outline: 0!important;
}

input,
input:focus,
input:hover,
input[type="radio"],
input[type="radio"]:focus,
input[type="button"],
input[type="button"]:focus {
    outline: none;
    border: 0px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, .075);
}

input::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: 0px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, .075);
}

.clear {
    clear: both;
}

textarea {
    resize: none;
}

.background_lg {
    background-color: #70B635 !important;
}

.color_dg {
    color: #255B1B !important;
}

.color_lg {
    color: #70B635 !important;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

.fixedbtn {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 999;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
    width: 157px;
}

.login_btn_custom,
.applyBtn {
    border: 1px solid #51b821 !important;
    color: #000;
    background-color: #fff;
}

.login_btn_custom:hover,
.applyBtn:hover {
    border: 1px solid #51b821;
    background-color: #fff;
    color: #000;
}

.cancel_btn_custom,
.cancelBtn {
    border: 1px solid #a94442;
    color: #000;
    background-color: #fff;
}

.cancel_btn_custom:hover,
.cancelBtn:hover {
    border: 1px solid #a94442;
    color: #000;
    background-color: #fff;
}

.login-arrow.md-button {
    min-height: 33px;
}


/* HOME PAGE */

.homepagesliderwrapper {
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
    /* margin-top: 61px;height:auto; */
    width: 100%;
    height: 100vh;
}

.homepagetopslider .carousel-inner {
    width: 100%;
    height: 100%;
}


/* .homepagetopslider .carousel-inner{width:100%;height:500px;} */


/*.homepagetopslider .carousel-inner img{width:100%;height: 400px;object-fit:cover;object-position:0 0;}*/

.homepagetopslider .carousel-inner img {
    width: 100%;
    height: 100%;
    object-position: 0 0;
    min-height: 400px;
}


/* .homepagetopslider .carousel-inner img{width:auto;height: 500px;object-fit:fill;object-position:0 0;} */

.homepagesearch {
    position: absolute;
    top: 12%;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
}

.search-div .input-group .form-control {
    border: 1px solid #70B635;
}

.search-div .input-group .form-control::placeholder {
    color: #255B1B;
}

.search-div .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #255B1B;
}

.search-div .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #255B1B;
}

.search-div .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #255B1B;
}

.search-div .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #255B1B;
}

.homepagesliderwrapper .carousel-indicators {
    bottom: 104px;
}

.homepagesliderwrapper .topPara {
    padding: 0;
    min-height: 0;
}

.home4blocks {
    position: absolute;
    z-index: 97;
    /* top:53%;width:100%; */
    /* left:4%; */
    left: 50%;
    top: 66%;
    transform: translate(-50%, -50%);
}

.homeaboutus {
    height: 100vh;
    position: relative;
}

.homeaboutus_contentwrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Admin Profile */

.adminprofiletable {
    margin-bottom: 15px;
}

.adminprofiletableinner {
    border: 1px solid #51B821;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    padding: 10px;
    width: 100%;
}

.adminprofiletable label {
    color: #255B1B;
    font-size: 18px;
}

.adminprofiletable th {
    color: #255B1B;
    background-color: #70B635;
}

.package-edit-icon {
    background: url('../images/edit1.png') center center no-repeat;
    background-size: 15px 15px;
}

.package-delete-icon {
    background: url('../images/delete2.png') center center no-repeat;
    background-size: 15px 15px;
}

.adminprofile_savebtn {
    background-color: #51b821 !important;
    border-bottom: 3px solid #397f18;
    color: #fff;
}

.adminprofile_savebtn:hover {
    background-color: #69c140 !important;
    border-color: transparent;
    border-bottom: 3px solid #397f18 !important;
    color: #fff;
    box-shadow: 0px;
}

.adminprofiletableinner .top-keyword-box {
    overflow: hidden;
    max-height: 250px;
}

.adminprofiletableinner table {
    border: 0px
}

.adminprofiletableinner tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

.adminprofiletableinner thead,
.adminprofiletableinner tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.adminprofiletableinner thead {
    width: calc( 100% - 1.2em);
}


/* Company Dashboard */

.companyreviews_rating_pp {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}

.companyreviews_rating_textwrap {
    float: right;
    width: 100%;
}

h3.companyreviews_rating_texttitle {
    color: #255B1B;
    text-transform: uppercase;
    border-bottom: 2px dotted #70B635;
    padding-bottom: 5px;
}

.companyreviews_rating_text {
    color: #70B635;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #70B635;
    border-color: #70B635;
}

.cd_packagesum_wrap {
    color: #454545;
    padding-bottom: 20px;
}

.cd_packagesum_pname {
    color: #255B1B;
    margin-top: 10px;
}

.cd_packagesum_wrap p {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 3px;
}

.packageSummary_slider .carousel-inner {
    width: 92%;
    margin: 0 auto;
}

.packageSummary_slider_leftarrow {
    font-size: 18px;
    font-weight: normal;
    color: #255B1B;
    width: 13px;
    cursor: pointer;
    z-index: 9;
    position: absolute;
    left: 16px;
    top: 50%;
}

.packageSummary_slider_rightarrow {
    font-size: 18px;
    font-weight: normal;
    color: #255B1B;
    width: 13px;
    cursor: pointer;
    z-index: 9;
    position: absolute;
    right: 16px;
    top: 50%;
}

.packageSummary_slider .carousel-indicators {
    bottom: -31px;
}


/** Company Dashboard Modal **/

.modalheader_custom {
    background-color: #70B635;
    color: #fff;
    text-align: center;
}

.modaltitle_custom {
    text-align: center;
    color: #fff;
}


/* Admin Dashboard */

.adminDashboard_tabs_wrap {
    max-width: 430px;
    margin: 0 auto;
    font-size: 36px;
    margin-bottom: 25px;
}

.adminDashboard_tabs_wrap li>a {
    cursor: pointer;
    padding: 0px 35px;
    border: 0px;
}

.nav-tabs.adminDashboard_tabs_wrap>li.active>a {
    color: #51b821;
    cursor: pointer;
    border-left: 0px;
}

.nav-tabs.adminDashboard_tabs_wrap>li>a:hover {
    background-color: transparent;
    border: 0px;
    border-bottom: 3px solid #2db50c;
}

.ad_slider_outer_wrap {
    width: 100%;
}

.adminDashboard_slider {
    width: 100%;
    background-color: #eeeeee;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
}

.adminDashboard_slider_block {
    background-color: #fff;
    position: relative;
    height: 304px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 19%;
    margin: 0 5px 0 5px;
}

.ad_sliderblock_row1 {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-top: 7px;
}

.ad_sliderblock_pp {
    width: 30%;
    float: left;
}

.ad_sliderblock_pp img {
    float: left;
    width: 100%;
}

.ad_sliderblock_nameblock {
    width: 70%;
    float: left;
    padding-left: 5px;
}

.ad_sliderblock_name {
    color: #454545;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
}

.ad_sliderblock_phone {
    color: #454545;
    font-size: 12px;
    margin-bottom: 2px;
}

.ad_sliderblock_flag img {
    margin-right: 5px;
}

.ad_sliderblock_flag span {
    color: #454545;
    font-size: 12px;
    text-transform: capitalize;
}

.ad_sliderblock_row2 {
    width: 100%;
}

.ad_sliderblock_row2_title1 {
    color: #454545;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.ad_sliderblock_row2_title2 {
    color: #51b821;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0px;
}

.ad_sliderblock_row2 span {
    font-size: 15px;
    margin-top: -19px;
    display: block;
    text-align: center;
    color: #51b821;
}

.ad_sliderblock_row3 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #51b821;
    color: #ffffff;
    text-align: center;
    border-bottom: 4px solid #347930;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 60px;
}

.ad_sliderblock_row3_title1 {
    font-size: 12px;
    padding-top: 4px;
    margin-bottom: 0px;
}

.ad_sliderblock_row3_title2 {
    font-size: 25px;
}

.adminDashboard_prevbtn {
    background: url(../images/arrow-left.png) no-repeat center center;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-size: 17px;
    cursor: pointer !important;
    border-color: #70B635;
    border-style: double;
}

.adminDashboard_nxtbtn {
    background: url(../images/arrow-right.png) no-repeat center center;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-size: 17px;
    cursor: pointer !important;
    border-color: #70B635;
    border-style: double;
}

.ad_sliderdelete {
    position: absolute;
    top: -1px;
    right: 4px;
    color: #a94442;
    cursor: pointer;
}

.tablestickyheader .top-keyword-box {
    overflow: hidden;
    max-height: 250px;
}

.tablestickyheader table {
    border: 0px
}

.tablestickyheader tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

.tablestickyheader thead,
.tablestickyheader tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tablestickyheader thead {
    width: calc( 100% - 1.2em);
}

.table_green_styling label {
    color: #255B1B;
    font-size: 18px;
}

.table_green_styling th {
    color: #255B1B;
    background-color: #70B635;
}

.section_title {
    color: #51b821;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}

.company_package_detail_wrap .section_title {
    text-align: center;
    padding-left: 0px;
}

.rowsection {
    margin-bottom: 20px;
}

.top30keywords_wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top30Companies_wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* viewContractorProfile */

.viewContractorProfile_min_max {
    max-width: 230px;
    width: 100% !important;
}


/* Contractor Ratings */

.contractorRatings_container {
    border: 1px solid #70B635;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.contractorRatings_label {
    color: #255B1B;
    font-weight: bold;
    font-size: 20px;
}

.contractorRatings_container .login_btn_custom {
    margin-top: 10px;
    margin-right: 15px;
}

.contractorRatings_container textarea {
    width: 100%;
    height: 120px;
}

.contractorRatings_container textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #255B1B;
}

.contractorRatings_container textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #255B1B;
}

.contractorRatings_container textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #255B1B;
}

.contractorRatings_container textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #255B1B;
}


/***RUJUTA END***/

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 981px) {}

@media (min-width: 1081px) {}

@media (min-width: 1300px) {
    #content {
        width: 1318px;
    }
    .container {
        width: 1228px;
    }
}

@media all and (max-width:1080px) {
    #content {
        width: 100%;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1280px) {
    .comp-info {
        font-size: 16px;
    }
    .comp-add {
        font-size: 19px;
    }
}

@media all and (max-width:980px) {
    #darkbg {
        padding: 20px 5%;
    }
    .container {
        width: 99%;
    }
    .review-wrap {
        padding: 25px 20px;
    }
    .review .review-tx {
        width: 86%;
    }
}

@media only screen and (min-width: 768px) and (max-width:980px) {}

@media all and (max-width: 768px) {
    .review .review-tx {
        width: 85%;
    }
}

@media all and (max-width: 767px) {
    .float-right,
    .float-left {
        float: none;
    }
    .associations ul.float-left {
        padding: 10px 0 0 0;
        border-left: 0px;
        border-top: 1px solid #51b821;
    }
    .regulatoryCalausol .filcolor {
        padding: 30px 0;
    }
    .slider-blocks {
        min-height: 130px;
    }
}

@media all and (max-width: 640px) {
    .container {
        width: 96%;
        max-width: 580px;
    }
    .bodies {
        padding: 40px 0 10px;
    }
    .bodies .slick-dots {
        top: 0;
    }
    .associations {
        padding: 40px 0 0;
    }
    .associations .slick-dots {
        top: 0;
    }
    .review .review-tx {
        width: 100%;
    }
    .review .review-pic {
        top: 0;
        left: 0;
        bottom: inherit;
        right: inherit;
    }
    .review .review-tx h4 {
        padding-left: 86px;
        padding-top: 10px;
        min-height: 76px;
    }
    .pro-rating {
        float: none;
        display: block;
    }
    .review .review-pic {
        width: 75px;
        height: 75px;
    }
    .review .review-txbox {
        padding: 15px 20px 8px;
    }
    .review .review-txbox:after {
        left: 4px;
        top: -28px;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .review:nth-child(even) .review-tx {
        float: none;
    }
    .review:nth-child(even) .review-tx h4 {
        padding-left: 0;
        padding-right: 86px;
    }
    .review:nth-child(even) .pro-rating {
        float: none;
        display: block;
    }
    .review:nth-child(even) .review-txbox:after {
        right: 5px;
        top: -28px;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .search-result li {
        width: 100%;
        float: none;
        padding: 10px;
    }
    .result-left {
        width: 32%;
    }
    .result-right {
        width: 68%;
    }
}

@media all and (max-width: 600px) {}

@media all and (max-width: 480px) {
    .result-wrap {
        display: block;
    }
    .result-left {
        width: 100%;
        display: block;
        text-align: left;
        border-bottom: 1px solid #ccc;
        border-right: 0px solid #ccc;
    }
    .result-right {
        width: 100%;
        display: block;
    }
    .search-result .comp-loc,
    .search-result .comp-title {
        text-align: left;
    }
}

@media all and (max-width: 400px) {}