<div class="modal-header modalheader_custom">
   <h3 class="modal-title" id="modal-title">Login</h3>
</div>
<div class="modal-body" id="modal-body">
   <div class="widthModal">
      <div ng-class="{'has-error': (!loginController.data.userId || loginController.data.userId == '')  && loginController.userIdError}">
         <input type="text" name="username" id="username" ng-model="loginController.data.userId" class="form-control border-left"
            placeholder="Email ID" autofocus="autofocus"
                ng-keyup="$event.which != 13 || loginController.validateForm()" />
      </div>
      <br />
      <div ng-class="{'has-error': (!loginController.data.userPassword || loginController.data.userPassword == '')  && loginController.userPasswordError}">
         <input type="password" name="pwd" id="pwd" 
                ng-model="loginController.data.userPassword" 
                class="form-control border-left" placeholder="Password"
                ng-keyup="$event.which != 13 || loginController.validateForm()" />
      </div>
     <!-- <img class="img-center" src="assets/images/ezgif.com-crop.gif" style="position:absolute; left:48%"> -->
      <br />
      <div ng-show="loginController.invalidCredentials">Invalid username and password</div>
      <div class="col-lg-12 padding0">
         <div class="col-lg-6 pull-left padding0">
            <a ng-click="loginController.forgetPassword()" href="">Forgot Password?</a>
         </div>
      </div>
      <br />
   </div>
</div>
<div class="modal-footer">
   <button class="btn login_btn_custom" type="button" ng-click="loginController.validateForm()">Login</button>
   <button class="btn cancel_btn_custom" type="button" ng-click="$close('close')">Cancel</button>
</div>