
<div class="col-lg-4">
    
        <h3>Login Now</h3>
        <br />
        <p class="font18">Enter your username and password:</p>
        <br />
            <span ng-show="vm.showError" class="help-block">Username / Password is required</span>
            <input type="text" name="username" id="username" ng-model="vm.data.userId" class="form-control border-left"
                    placeholder="Email ID or Username" 
                   ng-keyup="$event.which != 13 || vm.validateForm()" />            
            <br />
            <input type="password" name="pwd" id="pwd" ng-model="vm.data.userPassword" 
                   class="form-control border-left" placeholder="Password" 
                   ng-keyup="$event.which != 13 || vm.validateForm()"/>            
            <br />
            <div class="col-lg-12 padding0">
                <div class="col-lg-6 pull-left padding0">
                    <a href="">Forgot Password?</a>
                </div>
                <div class="col-lg-6 text-right padding0">
                    <input type="submit" name="login" ng-click="vm.validateForm()" id="login" class="loginBtn" value="Login  >" />
                </div>
            </div>

</div>
				