<div class="modal-header">  
<button type="button" class="close" ng-click="$close()">&times;</button>  
<h4 class="text-center">Sign Up!</h4>

</div>
<div class="modal-body sign_up">      
      <div class="row">
         <div class="col-md-6 text-center">
            <div class="btn">
               <a ui-sref="buyerRegistration" ng-click="$close()">
                  <i class="fa fa-cart-plus" ></i>
				  <!-- <img class="img-responsive img-center" src="assets/images/sign-up.png" onMouseOver="this.src='assets/images/sign-up-hover option.png'" onMouseOut="this.src='assets/images/sign-up.png'" /> -->
                  <br/>                           
                  Buyer
               </a>
            </div>
         </div>
         <div class="col-md-6 text-center">
            <div class="btn">
               <a ui-sref="contractRegistration" ng-click="$close()">
					<i class="fa fa-industry" ></i>
        <!--           <img class="img-responsive img-center" src="assets/images/sign-up.png" onMouseOver="this.src='assets/images/sign-up-hover option.png'" onMouseOut="this.src='assets/images/sign-up.png'" /> -->
                  <br/>                           
                  Contractor
               </a>
            </div>
         </div>
      </div>
   </div>