﻿<div class="modal-header modalheader_custom">
  <button type="button" class="close" ng-click="$close()">×</button>
  <h3 class="text-center">List Of {{type}}</h3>
</div>
<div class="modal-body tablestickyheader">
  <div class="home-pro-ser-modal table_green_styling" style="border: 0;">
    <table class="table table-bordered">

      <thead>
        <tr>
          <th>Keyword</th>
          <th ng-hide="type === 'Service'">Brand Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <input type="text" class="input-sm form-control" placeholder="Search {{type}}.." ng-model="filterText" />
            <label ng-hide="(keywords | filter:filterText).length > 0">No Data Available</label>
          </td>
        </tr>
        <tr ng-repeat="key in keywords | filter: filterText">
          <td>
            <a ng-click="$close()" href="/search?searchTxt={{key.keywordId}}">{{key.keywordName}}</a>
          </td>
          <td ng-hide="type === 'Service'">{{key.keywordDescription}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 