﻿<div class="container-fluid">
	<button type="button" class="close" style="position: absolute; right: 10px; top: 5px; display: block; z-index: 99999;" ng-click="$close()">×</button>
	<div class="row">
		<div class="col-md-12 ">
			<div class="video-holder">
			  <div class="video">
				<iframe width="560" height="315" src="//www.youtube.com/embed/4V3uoAu5mXE?rel=0" style="border:none;" allowfullscreen=""></iframe>
			  </div>
			</div>
		</div>
		<div class="col-md-12 ">
			<div class="howitworksimg"><img src="../assets/images/webhowitworks.jpg" /></div>
		</div>
		
	</div>
</div>
