<div class="dropdown">
    <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
    <span class="pull-left">{{header}}</span>
    <span class="caret pull-right"></span>
  </button>
    <ul class="dropdown-menu">
        <li>
            <input class="form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
        </li>
        <li ng-repeat="i in items | filter:searchText" style="float:none !important">
            <a ng-click="select(i); focus()">
                <i ng-class="{'fa fa-check': i.checked, 'icon-empty': !i.checked}"></i>{{i.label}}
            </a>
        </li>
    </ul>
</div>